
<div style="background-color: white;">
    <md-button class="md-raised md-primary btn-fw m" ng-click="vm.copyText('damaged_envelope')">Copy Template</md-button>
    <md-input-container>
            <label>Reason</label>
            <md-select ng-model="vm.damagedReason2" ng-init="vm.damagedReason2='Royal Mail'">
                <md-option ng-repeat="option in ['Royal Mail','Print Issue','Missing Envelope']" ng-value="option">{{option}}</md-option>
            </md-select>
        </md-input-container>
    <md-checkbox ng-model="vm.isPlural" class="md-primary">
        Plural Number of Cards
    </md-checkbox>
    </div>
    <div class="col-sm-12" id="damaged_envelope"style="background-color: white;">
        Hi {{vm.buyer.contact.firstname}},
        <br>
        <br>
        <span ng-if="vm.damagedReason2=='Royal Mail'">
            Thanks for getting in touch, and I’m so sorry to hear that your {{vm.isPlural?'envelopes':'envelope'}} was damaged.
            <br>
            <br>
            <!-- This is disappointing for us as we take great care to ensure your {{vm.isPlural?'cards':'card'}} reach you in good condition, and our packaging is designed to try to mitigate the likelihood of your {{vm.isPlural?'cards':'card'}} being damaged along the way. -->
            I’m afraid we’ve recently had to change our packaging due to restrictions placed on us by the Royal Mail, so on this occasion orders can become damaged in transit - we’re so sorry about this!
            <br>
            <br>    
            <!-- All of our cards are sent via our partners at Royal Mail, so whilst this is extremely uncommon a small number of all the thousands of products they process do get damaged in transit. -->
            The packaging we’re currently using are an interim measure and we’re currently working with our team at the printers to review other packaging options, to ensure your order arrives safely with you.
            <br>
            <br>
            Please accept our apologies that you haven’t had a great experience this time. To make it up to you what we’ll do is get another {{vm.isPlural?vm.noOfCards()+' envelopes':'envelope'}} sent out again at no additional cost, and as a little apology I’ve also popped a credit onto your thortful account for 50% off your next A5 card. You’ll just need to tick the box on checkout to apply this to your order next time :)
        </span>
        <span ng-if="vm.damagedReason2=='Print Issue'">
            Thank you very much for getting in touch, and I’m so sorry to hear that your {{vm.isPlural?'envelopes':'envelope'}} arrived damaged.
            <br>
            <br>
            This is disappointing for us as we take great care to ensure your {{vm.isPlural?'cards and envelopes':'card and envelope'}} reach you in good condition. Our orders are packed by hand and quality-checked before being dispatched to ensure they are up to standard for our customers, but it seems this issue was not picked up for some reason, so I have asked the team at our printers to look into how this happened.
            <br>
            <br>
            In order to help us investigate what went wrong here, would you be able to send us some photos of the {{vm.isPlural?'envelopes':'envelope'}}?
            <br>
            <br>
            Please accept our apologies that you haven’t had a great experience this time. To make it up to you what we’ll do is get your {{vm.isPlural?'envelopes':'envelope'}} sent out again at no additional cost, and as a little apology I’ve also popped a credit onto your thortful account for 50% off your next A5 card. You’ll just need to tick the box on checkout to apply this to your order next time :)
        </span>
        <span ng-if="vm.damagedReason2=='Missing Envelope'">
            Thank you very much for getting in touch, and I’m so sorry to hear that your {{vm.isPlural?'envelopes were':'envelope was'}} missing.
            <br>
            <br>
            This is disappointing for us as we take great care to ensure your {{vm.isPlural?'cards and envelopes are':'card and envelope is'}} sent out correctly. However, our orders are packed by hand so occasionally human error can mean that something is missed, so I have asked the team at our printers to look into how this happened.
            <br>
            <br>
            Please accept our apologies that you haven’t had a great experience this time. To make it up to you what we’ll do is get your {{vm.isPlural?'envelopes':'envelope'}} sent out again at no additional cost, and as a little apology I’ve also popped a credit onto your thortful account for 50% off your next A5 card. You’ll just need to tick the box on checkout to apply this to your order next time :)
        </span>
        <br>
        <br>
        We’re really sorry things went wrong this time, and I really hope we can exceed your expectations in future.
        <br>
        <br>
        Thanks,
        <br>
        {{vm.root.admin.contact.firstname}}
    </div>