
<div style="background-color: white;">
    <md-button class="md-raised md-primary btn-fw m" ng-click="vm.copyText('tab-4')">Copy Template</md-button>
    <!-- <md-checkbox ng-model="vm.removeDetails" class="md-primary">
        Customer wants to remove details
    </md-checkbox> -->
</div>
<div class="col-sm-12" id="tab-4"style="background-color: white;">
    Hi {{vm.buyer.contact.firstname}},
    <br>
    <br>
    Thanks for your email, and I’m so sorry to hear that your credit card has been used fraudulently. 
    <br>
    <br>
    Please rest assured we take security very seriously here at thortful. Our website is only accessible over a secure connection (https) and only using the strongest level of encryption. We also regularly carry out security testing on all of our systems.
    <br>
    <br>
    In addition, at no time do we ever store any of your credit card details as they are passed over a secure, encrypted connection to <a href='https://stripe.com/about' style='color: #337ab7;text-decoration: underline;'>Stripe</a>, who are our credit card provider (similar to PayPal), to ensure the protection of our customer data. 
    <br>
    <br>
    This means that it is highly unlikely that this fraud is connected with you using our service, as we process hundreds of credit card transactions every week and we have never had any issue with our customer data. However, our Engineering team would be more than happy to discuss this with your bank should they feel it is necessary; do let us know.
    <br>
    <br>
    <!-- <span ng-if="vm.removeDetails">
        I hope this helps to reassure you, but of course I can understand if you would still like to unsubscribe from thortful, and we can remove your details from our system.
        <br>
        <br>
    </span> -->
    I hope this helps to clarify how our system works, and get to the bottom of the fraudulent activity, but please feel free to contact us if you have any other questions or queries and we’ll be happy to assist.
    <br>
    <br>
    Thanks,
    <br>{{vm.root.admin.contact.firstname}}
</div>