<div style="background-color: white;">
    <md-button class="md-raised md-primary btn-fw m" ng-click="vm.copyText('tab-reply')">Copy Template</md-button>
    <md-input-container>
        <label>options</label>
        <md-select ng-model="vm.replyOption" ng-change="vm.changeOption()">
            <md-option ng-repeat="option in vm.replyOptions" ng-value="option.query">{{option.title}}</md-option>
        </md-select>
    </md-input-container>
</div>
<div style="background-color: white;">
    <md-input-container>
        <md-radio-group ng-model="vm.orderReason">
            <md-radio-button value="lost" class="md-primary">Lost Order</md-radio-button>
            <md-radio-button value="delayed" class="md-primary">Delayed Order</md-radio-button>
        </md-radio-group>
    </md-input-container>
</div>
<div class="col-sm-12" id="tab-reply"style="background-color: white;">
    Hi {{vm.buyer.contact.firstname}},
    <br><br>
    <span ng-if="vm.replyCredit">Thanks for getting back to us.
        <br><br>
        No problem, I can confirm I’ve credited your account with {{vm.noOfCards()>1?vm.noOfCards():'one'}} free {{vm.cardFormat?vm.cardFormat+' ':''}}{{vm.noOfCards()>1?'cards':'card'}}{{vm.cardFormat?' (or several A5 cards!)':''}}, as well as 50% off another A5 card as a little apology for the fact that your {{vm.noOfCards()>1?'cards have':'card has'}} been {{vm.orderReason}} on this occasion. This will be saved and ready for you to use next time - just tick the box on checkout to apply it to your order  :)
    </span>
    <span ng-if="vm.replyReprint">Thanks for getting back to us, and confirming the address.
        <br><br>
        I’ve now sent your {{vm.noOfCards()>1?'cards':'card'}} through to be reprinted and re-sent {{vm.today==vm.dispatchDay?'today':(vm.today!=6?'on Monday':'tomorrow')}}, so fingers crossed {{vm.noOfCards()>1?'they':'it'}} should arrive with {{vm.order.order_delivery.dispatch_type=='IMMEDIATE'?'you':'the recipient'}} {{vm.today==vm.dispatchDay?'tomorrow':'on '+vm.dayOfWeek(vm.dispatchDay)}} :)
        <br><br>
        I’ve also credited your account with 50% off your next A5 card, as a little apology for the fact that your {{vm.noOfCards()>1?'cards':'card'}} have been {{vm.orderReason}} on this occasion. This credit will be saved and ready for you to use next time - just tick the box on checkout to apply it to your order.
    </span>
    <span ng-if="vm.replyRefund">Thanks for getting back to us.
        <br><br>
        I can confirm that I’ve now refunded your order, so you should receive a separate email confirming this shortly.
        <br><br>
        I’ve also credited your account with 50% off your next A5 card, as a little apology for the fact that your {{vm.noOfCards()>1?'cards have':'card has'}} been {{vm.orderReason}} on this occasion. This credit will be saved and ready for you to use next time - just tick the box on checkout to apply it to your order.
    </span>
        <br><br>
        Please let us know if there is anything else we can do for you, and I hope you have a lovely {{vm.greetingMessage()}}!
        <br><br>
        Thanks,
        <br>{{vm.root.admin.contact.firstname}}
    </div>