
<div style="background-color: white;">
    <md-button class="md-raised md-primary btn-fw m" ng-click="vm.copyText('tab-5')">Copy Template</md-button>
    <md-input-container>
        <label>options</label>
        <md-select ng-model="vm.returnOption" ng-change="vm.changeOption()">
            <md-option ng-repeat="option in vm.returnOptions" ng-value="$index">{{option.query}}</md-option>
        </md-select>
    </md-input-container>
</div>
<div class="col-sm-12" id="tab-5"style="background-color: white;">
    Hi {{vm.buyer.contact.firstname}},
    <br><br>
    I hope that you’re well. 
    <br><br>
    I’m just sending you an email regarding your recent thortful order that was dispatched {{vm.getStatusDate("SENT")}}. Unfortunately Royal Mail has returned the {{vm.noOfCards()>1?'cards':'card'}} addressed to {{vm.order.delivery_address.recipient}} to our return address. 
    <br><br>
    We’re not too sure why it has been returned, however it is likely that there was an issue with the delivery address: {{vm.returnOptions[vm.returnOption].title}} Please see below for the delivery address: 
    <br><br>
        <b>
            <span ng-if="vm.order.delivery_address.recipient">{{vm.order.delivery_address.recipient}}<br></span>
            <span ng-if="vm.order.delivery_address.address1">{{vm.order.delivery_address.address1}}<br></span>
            <span ng-if="vm.order.delivery_address.address2">{{vm.order.delivery_address.address2}}<br></span>
            <span ng-if="vm.order.delivery_address.address3">{{vm.order.delivery_address.address3}}<br></span>
            <span ng-if="vm.order.delivery_address.city">{{vm.order.delivery_address.city}}<br></span>
            <span ng-if="vm.order.delivery_address.state">{{vm.order.delivery_address.state}}<br></span>
            <span ng-if="vm.order.delivery_address.postcode">{{vm.order.delivery_address.postcode}}<br></span>
            <span ng-if="vm.order.delivery_address.country">{{vm.order.delivery_address.country}}<br></span>
        </b><br>
    Unfortunately we simply do not have the ability to double check the delivery address on every single order placed, so this is the responsibility of the customer and is not something we can be held accountable for. On this occasion though we’ll be happy to get the address changed for you and then re-send your {{vm.noOfCards()>1?'cards':'card'}}, if you could let us know the correct address.
    <br><br>
    Do get back to us and let us know before {{(vm.dispatchDay==vm.today&&vm.changeTime)?'5:00pm':'4:30pm'}} {{vm.isWeekend?' Monday':(vm.dispatchDay==vm.today?' today':' tomorrow')}} and we’ll be able to get {{vm.hasCommonAddress>1?'them':'it'}} sent out with {{vm.isWeekend?' Monday':(vm.dispatchDay==vm.today?' today':' tomorrow')}}’s post :)
    <br><br>
    Thanks,<br>
    {{vm.root.admin.contact.firstname}}
</div>