<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-card" ng-if="!(vm.createMode || vm.editMode)">
      <div class="p card-heading">
        <h2>Main settings</h2>
        <small>Items options are used to manage additional products that need to be attached to an order</small> 
      </div>
      <div class="list-group no-radius no-border">
        <span class="list-group-item">
          <span class="pull-right">{{vm.option.name}}</span><b> Name</b>
        </span>
        <span class="list-group-item">
          <span class="pull-right">{{vm.option.printer_format}}</span> <b> Format</b>
        </span>
        <span class="list-group-item">
          <span class="pull-right">{{vm.option.target}}</span> <b>Target</b>
        </span>   
        <span class="list-group-item">
          <span class="pull-right">{{vm.option.position}}</span> <b>Position</b>
        </span>     
      </div>
    </div>
    <div class="panel panel-card" ng-if="vm.createMode || vm.editMode">
      <div class="card-heading">
        <h2>Main Settings</h2>
      </div>
      <div class="panel-body" ng-if="vm.createMode || vm.editMode">
        <div>
         <md-input-container style="margin-bottom : 0px">
            <input mdInput placeholder="Name" ng-model="vm.option.name">
          </md-input-container>
        </div>
        <div>
         <md-input-container style="margin-bottom : 0px">
            <label>Format</label>
            <md-select ng-model="vm.option.printer_format">
              <md-option ng-value="format" ng-repeat="format in vm.printerFormat">{{format}}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div>
         <md-input-container style="margin-bottom : 0px">
            <label>Target</label>
            <md-select ng-model="vm.option.target">
              <md-option ng-value="target" ng-repeat="target in vm.target">{{target}}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div>
         <md-input-container style="margin-bottom : 0px">
            <input mdInput placeholder="Position" type="number" min="0" ng-model="vm.option.position">
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-card">
          <div class="panel-body">
            <md-button ng-if="!vm.createMode && !vm.editMode" class="md-raised md-primary btn-fw m" ng-click="vm.edit()">edit</md-button>
            <md-button ng-if="vm.createMode || vm.editMode" class="md-raised md-primary btn-fw m" ng-click="vm.save()" ng-disabled="vm.isEmpty()">save</md-button>
            <md-button ng-if="!vm.createMode && !vm.option.enabled" class="md-raised md-primary btn-fw m" ng-click="vm.enable()">enable</md-button>
            <md-button ng-if="!vm.createMode && vm.option.enabled" class="md-raised md-primary btn-fw m" ng-click="vm.disable()">disable</md-button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-card">
          <div class="card-heading">
            <h2>Printer</h2>
          </div>
          <div class="panel-body" ng-if="!vm.createMode && !vm.editMode">
            <div class="list-group no-radius no-borders">
              <span class="list-group-item no-radius no-border">
                <span class="pull-right">{{vm.option.customisation}}</span><b>Name</b>
              </span>
              <span class="list-group-item no-radius no-border">
                <span class="pull-right">{{vm.option.printer_name}}</span> <b> Code</b>
              </span>
              <span class="list-group-item no-radius no-border">
                <span class="pull-right">{{vm.option.stock}}</span> <b>Stock</b>
              </span>       
            </div>
          </div>
          <div class="panel-body" ng-if="vm.createMode || vm.editMode">
            <div>
             <md-input-container style="margin-bottom : 0px">
                <input mdInput placeholder="Name" ng-model="vm.option.customisation">
              </md-input-container>
            </div>
            <div>
             <md-input-container style="margin-bottom : 0px">
                <input mdInput placeholder="Code" ng-model="vm.option.printer_name">
              </md-input-container>
            </div>
            <div>
             <md-input-container style="margin-bottom : 0px">
                <input mdInput placeholder="Stock" ng-model="vm.option.stock" type="number" min="0">
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-card">
          <div class="card-heading">
            <h2>Trigger</h2>
            <small>This is only applicable for ORDER options and is used to decide when a given product (flyer / ..) should be added to an order</small>
          </div>
          <div class="panel-body" ng-if="vm.option.target == 'ORDER'">
            <div ng-if="vm.createMode || vm.editMode">
              <div>
                <md-input-container style="margin-bottom : 0px">
                  <label>Category Id</label>
                  <md-select ng-model="vm.option.category_id">
                    <md-option ng-value="category.id" ng-repeat="category in vm.categoryList| orderBy : title">{{category.title}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div>
                <form ng-submit="vm.addItem(vm.text.campaing,vm.option.campaign_ids)">
                  <md-input-container style="margin-bottom : 0px">
                    <input mdInput placeholder="campaing Id" ng-model="vm.text.campaing">
                  </md-input-container>
                </form>
                <div>
                  <span ng-repeat="campaign in vm.option.campaign_ids"> <button class="btn-primary" ng-click="vm.removeItem(campaign,vm.option.campaign_ids)">{{campaign}}</button></span>
                </div>
              </div>
              <div>
                <md-input-container style="margin-bottom : 0px">
                  <label>Recipient Type</label>
                  <md-select ng-model="vm.option.recipient_type">
                    <md-option value="NONE">None</md-option>
                    <md-option value="home_fill">Home_fill</md-option>
                    <md-option value="direct_send">Direct_send</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div>
                <md-input-container style="margin-bottom : 0px">
                  <input mdInput placeholder="Min Number of Orders" type="number" min="0" ng-change="vm.option.max_num_orders = (vm.option.max_num_orders<=vm.option.min_num_orders)?(vm.option.min_num_orders+1):vm.option.max_num_orders" ng-model="vm.option.min_num_orders">
                </md-input-container>
              </div>
              <div>
                <md-input-container style="margin-bottom : 0px">
                  <input mdInput placeholder="Max Number of Orders" type="number" min="0" ng-change="vm.option.max_num_orders = (vm.option.max_num_orders<=vm.option.min_num_orders)?(vm.option.min_num_orders+1):vm.option.max_num_orders" ng-model="vm.option.max_num_orders">
                </md-input-container>
              </div>
              <div>
              <md-input-container style="margin-bottom : 0px">
                <input mdInput placeholder="Order size" type="number" min="0" ng-model="vm.option.order_size">
              </md-input-container>
              </div>
              <div>
                <md-input-container style="margin-bottom : 0px">
                  <label>Customer Type</label>
                  <md-select ng-model="vm.option.customer_type">
                    <md-option ng-value="customer" ng-repeat="customer in vm.customerType">{{customer}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div>
                <md-input-container style="margin-bottom : 0px">
                    <md-checkbox ng-model="vm.option.random" class="md-primary">
                        Control group
                    </md-checkbox>
                  </md-input-container>          
              </div>
            </div>
            <div class="list-group no-radius no-borders" ng-if="!vm.createMode && !vm.editMode">
              <span class="list-group-item no-radius no-border">
                <span class="pull-right">{{vm.option.category_id}}</span><b>Occasion</b>
              </span>
              <span class="list-group-item no-radius no-border">
                <span class="pull-right">{{vm.option.campaign_ids.toString()}}</span> <b> Discount Campaign</b>
              </span>
              <span class="list-group-item no-radius no-border">
                <span class="pull-right">{{vm.option.recipient_type}}</span> <b>Recipient Type</b>
              </span>
              <span class="list-group-item no-radius no-border">
                <span class="pull-right">{{vm.option.min_num_orders}}</span><b>Min Number of Orders</b>
              </span>
              <span class="list-group-item no-radius no-border">
                <span class="pull-right">{{vm.option.max_num_orders}}</span><b>Max Number of Orders</b>
              </span>
              <span class="list-group-item no-radius no-border">
                <span class="pull-right">{{vm.option.order_size}}</span><b>Min order size</b>
              </span>
              <span class="list-group-item no-radius no-border">
                <span class="pull-right">{{vm.option.customer_type}}</span> <b>Customer Type</b>
              </span>
              <span class="list-group-item no-radius no-border">
                <span class="pull-right">{{vm.option.random}}</span> <b>Control group enabled</b>
              </span>            
            </div>
          </div>
          <div class="panel-body" ng-if="vm.option.target != 'ORDER'">
            Non applicable
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
