<div class="row" ng-if="!vm.loading">
  <!--left hand side panel-->
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="tab-content">
          <div class="tab-pane" id="image-tab2" role="tabpanel">
            <div class="panel panel-card">
              <div class="panel-body">
                <img class="w-full" ng-src="{{vm.card.image.xlarge}}">
              </div>
            </div>
          </div>
          <div id="image-tab3" role="tabpanel"></div>
        </div>
        <div class="panel panel-card">
          <div class="card-heading">
            <h2>Card</h2>
          </div>
          <div class="p">
            ID <span class="pull-right">{{vm.card.id}}</span>
          </div>
          <div class="list-group no-radius no-border">
            <a class="list-group-item" data-toggle="collapse" data-target="#buyer">
              <div><span class="pull-right">{{vm.creator.contact.firstname}} {{vm.creator.contact.surname}}</span> Creator</div>
            </a>
            <div id="buyer" class="collapse" style="padding: 0px 15px;">
              <br>Created: <span class="pull-right ">{{vm.creator.created_at_gmt| date}}</span><br> Email: <a ui-sref="users.profile({profileId: vm.creator.id})"
                class="pull-right text-info">{{vm.creator.contact.email}}</a><br><br>
            </div>
            <div class="list-group-item">
              <span class="pull-right ">{{vm.card.created_at| date}}</span> Created date
            </div>
            <div class="list-group-item">
              <span class="pull-right"><a ng-repeat="star in [1,2,3,4,5]" ng-click="vm.rate(star)"class="fa fa-star text-warning i-20" ng-class="{'fa-star-o': star>vm.card.global_moderator_rank}"></a></span> Rank
            </div>
            <div class="list-group-item">
              <span class="pull-right">
                <div class="pull-left w-24" ng-if="vm.moderator">  
                   <img ng-src="{{vm.moderator.public_profile.profile_picture.small?vm.moderator.public_profile.profile_picture.small:'images/default.jpg'}}" class="w-full img-circle">
                </div>
                {{vm.moderator.contact.firstname}} {{vm.moderator.contact.surname}}</span> Moderator
            </div>
            <a data-toggle="collapse" data-target="#feedback" class="list-group-item">
              <span class="pull-right" ng-class="vm.changeColor(vm.card.moderation.status,'text')"><b>{{vm.card.moderation.status}}</b></span> Status
              <div id="feedback" class="collapse">
                <div class="text-right">{{vm.card.moderation.feedback}}</div>
              </div>
            </a>
            <div class="list-group-item">
              <span class="pull-right" ng-class="vm.changeColor(vm.card.visibility,'text')"><b>{{vm.card.visibility}}</b></span> Visibility   
            </div>
            <div class="list-group-item">
              <span class="pull-right" ng-class="vm.changeColor(vm.card.listed,'text')"><b>{{vm.card.listed}}</b></span> Listed
            </div>
            <a data-toggle="collapse" data-target="#format" class="list-group-item">
                <span class="pull-right badge"><span >{{vm.card.creator_formats.length}} </span></span> Formats
                <div id="format" class="collapse">
                  <div class="text-right" ng-repeat="format in vm.card.creator_formats">{{format}}</div>
                </div>
            </a>
            <div class="list-group-item">
              <span class="pull-right badge">{{vm.card.card_report.total_sales}}</span> Sales
            </div>
          </div>
          <div class="p">
            <span class="pull-right badge">{{vm.card.classification.tags.length}}</span> Tags
          </div>
        </div>
        <div class="panel panel-card" ng-if="vm.card.replacement_state==='UPLOADED'">
          <div class="card-heading">
            <h4>Replacement</h4>
          </div>
          <div class="panel-body">
            <md-button class="md-raised md-primary btn-fw m-b-sm" ng-click="vm.replaceCard('APPROVED')">Approve</md-button>
            <md-button class="md-raised md-primary btn-fw m-b-sm" ng-click="vm.replaceCard('REJECTED')">Reject</md-button>          
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-card">
          <div class="panel-body">
            <ul class="nav nav-pills m-b">
              <li class="nav-item {{vm.card.image?'active':''}}">
                <a href data-toggle="pill" data-target="#image-tab, #image-tab3">Image</a>
              </li>
              <li class="nav-item" ng-if="vm.card.secondary_image.status=='VIEWABLE'">
                <a href data-toggle="pill" data-target="#second-image-tab, #image-tab2">Secondary Image</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#tags-tab, #image-tab2">Tags</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#category-tab, #image-tab2">Categories</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#format-tab, #image-tab2">Formats</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#action-tab, #image-tab2">Actions</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#sales-tab, #image-tab2">Sales</a>
              </li>
            </ul>
              <md-button ng-if="vm.previousReady" class="md-raised md-primary btn-fw m-b-sm" ng-click="vm.setPreviousPage()" ui-sref="cards.card({cardId: vm.previousId})">Previous Card</md-button>
              <span class="pull-right">
              <md-button ng-if="vm.nextReady" class="md-raised md-primary btn-fw m-b-sm" ng-click="vm.setNextPage()" ui-sref="cards.card({cardId: vm.nextId})">Next Card</md-button>
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane {{vm.card.image?'active':''}}" id="image-tab" role="tabpanel">
        <div class="panel panel-card">
          <div class="panel-heading" ng-if="vm.card.replacement_state==='UPLOADED'">
            <h4>Original Image</h4>
          </div>
          <div class="panel-body">
            <img class="w-full" ng-src="{{vm.card.image.xlarge}}">
          </div>
        </div>
        <div class="panel panel-card" ng-if="vm.card.replacement_state==='UPLOADED'">
          <div class="panel-heading">
            <h4>Replacemet Image</h4>
          </div>
          <div class="panel-body">
            <img class="w-full" ng-src="{{vm.card.replacement_image.original}}">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="second-image-tab" role="tabpanel">
        <div class="panel panel-card">
          <div class="panel-body">
            <img class="w-full" ng-src="{{vm.card.secondary_image.xlarge}}">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tags-tab" role="tabpanel">
        <div class="panel panel-card">
          <div class="panel-heading">
            <span class="pull-right">
              <md-button class="md-raised md-primary btn-fw m-b-sm" ng-click="vm.saveTags()">SAVE</md-button>
            </span>            
            <h3>Selected Tags</h3>
          </div>
          <div class="panel-body">
            <span ng-repeat="tags in vm.selectedTags"><a class="btn" ng-click="vm.removeTag(tags)" ng-class="vm.selected(tags,'tag')">{{tags}}</a> <span>
          </div>
        </div>
        <div class="panel panel-card">
          <div class="panel-body">
            <div class="p"><h3>Add Tags</h3></div>
            <form class="input-group" ng-submit="vm.addTag(vm.input)">
              <a type="submit" class="input-group-addon" ng-click="vm.addTag(vm.input)">Add</a>
              <input type="text" name="Tag" class="form-control" ng-model="vm.input" placeholder="New Tag">
            </form>
            <div class="p" ng-repeat="tags in vm.tagList">
              <h4>{{tags.title}}<br><br></h4>
              <span ng-repeat="filter in tags.tags"><a class="btn" ng-click="vm.addTag(filter)" ng-class="vm.selected(filter,'tag')">{{filter}}</a> </span>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="category-tab" role="tabpanel">
      <div class="panel panel-card">
        <div class="panel-heading">
          <span class="pull-right">
              <md-button class="md-raised md-primary btn-fw m-b-sm" ng-click="vm.saveCategories()">SAVE</md-button>
          </span>   
          <h3>Selected Categories</h3>
        </div>
        <div class="panel-body">
          <span ng-repeat="category in vm.selectedCategories"><a class="btn" ng-class="vm.selected(category,'category')"ng-click="vm.removeCategory(category)">{{category}}</a> <span>
        </div>
      </div>
      <div class="panel panel-card">
        <div class="panel-heading">
          <h3>Categories</h3>
        </div>
        <div class="panel-body">
          <span><a class="btn btn-default" ng-click="vm.addCategory(category.title,category.id)"ng-repeat="category in vm.categoryList"ng-class="vm.selected(category.title,'category')">{{category.title}}</a></span>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="format-tab" role="tabpanel">
      <div class="panel panel-card">
        <div class="panel-heading">
          <span class="pull-right">
              <md-button class="md-raised md-primary btn-fw m-b-sm" ng-click="vm.saveFormats()">SAVE</md-button>
          </span>   
          <h3>Selected Formats</h3>
        </div>
        <div class="panel-body">
          <span ng-repeat="format in vm.selectedFormats"><a class="btn" ng-class="vm.selected(format,'format')"ng-click="vm.removeFormat(format)">{{format}}</a> <span>
        </div>
      </div>
      <div class="panel panel-card">
        <div class="panel-heading">
          <h3>Formats</h3>
        </div>
        <div class="panel-body">
          <span><a class="btn btn-default" ng-click="vm.addFormat(format)"ng-repeat="format in vm.formatList"ng-class="vm.selected(format,'format')">{{format}}</a></span>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="action-tab" role="tabpanel">
      <div class="panel panel-card">
        <div class="panel-heading text-center">
          <a ng-repeat="star in [1,2,3,4,5]" ng-click="vm.rate(star)"class="fa fa-star text-warning i-20" ng-class="{'fa-star-o': star>vm.card.global_moderator_rank}"></a>       
        </div>
        <div class="panel-body">
            <md-button class="md-raised md-primary" ng-disabled="!vm.isPublicApprovable()" ng-click="vm.approveCard()">Approve (PUBLIC)</md-button>
            <md-button class="md-raised md-primary" ng-disabled="!vm.isPrivateApprovable()" ng-click="vm.approveCard()">Approve (PRIVATE)</md-button>
            <md-button class="md-raised md-primary" ng-disabled="!vm.isApprovableToCatalog()" ng-click="vm.setCardOnCatalog()">Add to catalog</md-button>
            <md-button class="md-raised md-primary" ng-disabled="!vm.isRejectable()" ng-click="vm.rejectCard()">Reject</md-button>
            <md-button class="md-raised md-primary" ng-disabled="!vm.isRejectableFromCatalog()" ng-click="vm.setCardOnCatalog()">Remove from catalog</md-button>
            <md-button class="md-raised md-primary" ng-disabled="!vm.isReportable()" ng-click="vm.reportCard()">Report</md-button>
            <md-button class="md-raised md-primary" ng-click="vm.getPrinterVersion()">Download</md-button>
        </div>
        <div class="panel-body">
          <md-button class="md-raised md-primary" ng-click="vm.marketingTemplate()">Regenerate images</md-button>
          <md-button class="md-raised md-primary" ng-click="vm.updateImage()">Add Secondary Image</md-button>
          <input type="file" file-input="vm.singleImage" id="singleImage" style="display:none" onchange="angular.element(this).scope().vm.loadImage('singleImage')">
          <p class="text-danger">{{vm.errorMessage}}</p>
        </div>
      </div>
    </div>
    <div ng-if="vm.sale" class="tab-pane" id="sales-tab" role="tabpanel">
      <div class="panel panel-card">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <h3>Total card sales: {{vm.totalSales}}</h3>
          <div class="col-sm-12" ui-jp="plot" ui-options="
          [
            {
              data : {{vm.sales}},
              bars: { show: true, fill: true,  barWidth: 24 * 60 * 60 * 1000*30*0.8, lineWidth: 1, order: 1, fillColor: { colors: [{ opacity: 0.5 }, { opacity: 0.9}] }}
            }
          ], 
          {
            colors: ['{{app.color.primary}}','{{app.color.success}}'],
            series: { shadowSize: 0 },
            xaxis: { show: true, timezone: null, timeformat: '%b %y',font: { color: '#ccc' }, position: 'bottom',mode : 'time', minTickSize: [1, 'month']},
            yaxis:{ show: true, font: { color: '#ccc' }},
            grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
            tooltip: true,
            tooltipOpts: { content: '%x : %y.0',  defaultTheme: false, shifts: { x: 0, y: -40 } }
          }
        " style="height:220px">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--right hand side panel-->
</div>
</div>