<div class="row" ng-if="vm.ready">
  <div class="col-sm-4">
    <div class="panel panel-card">
      <div class="r-t">
        <div class="inline">
          <div id="test" style="white-space: pre-wrap;position : absolute;padding-left: 15px;">
<div style="color:white">
Hi</div><div style="color:white" ng-repeat="paragraph in vm.screen.paragraphs"style="white-space: pre-wrap;">{{paragraph}}</div>
<button style="background: white;border:0;border-radius: 2px;"><span style="margin:3px;">Buy now</span></button>
</div>
          <img name="image" ng-src="{{vm.screen.images.PHONE_PORTRAIT}}" class="img-responsive">
          </div>
      </div>
      <div class="p">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-md"><strong>{{vm.screen.title}}</strong></div>
          </div>
          <div class="col-xs-2">
          </div>
          <div class="text-sm">{{vm.screen.name}}</div>
        </div>
      </div>
      <div class="list-group no-radius no-border">
        <div class="list-group-item">
          <span class="pull-right ">{{vm.topCategory(vm.screen.top_category_id)}}</span>Top Category
        </div>
        <div class="list-group-item">
          <span class="pull-right">{{vm.screen.action.label}}</span> Label
        </div>
        <div class="list-group-item">
          <span class="pull-right">{{vm.screen.action.kind}}</span> Kind
        </div>
        <div class="list-group-item">
          <span class="pull-right">{{vm.screen.action.criteria.keywords.length}}</span> Keywords
        </div>
        <div class="list-group-item">
          <span class="pull-right">{{vm.screen.paragraphs.length}}</span> Paragraphs
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8" ng-if="vm.screenId!=='new'">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-card">
          <div class="panel-body">
            <span class="pull-left">
              <ul class="nav nav-pills m-b">
                <li class="nav-item {{vm.screen.id?'active':''}}">
                  <a href data-toggle="pill" data-target="#images-tab">Images</a>
                </li>
                <li class="nav-item">
                  <a href data-toggle="pill" data-target="#edit-tab">Edit</a>
                </li>
                <li class="nav-item">
                  <a href data-toggle="pill" data-target="#paragraphs-tab">Paragraphs</a>
                </li>
              </ul>
            </span>
            <span class="pull-right">
              <md-button class="md-raised md-primary btn-fw m-b-sm" ng-click="vm.updateScreen()">Save</md-button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane {{vm.screen.id?'active':''}}" id="images-tab" role="tabpanel">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12">
                    <md-input-container ng-if="!vm.allDeviceUrl">
                    <label>Device</label>
                      <md-select ng-model="vm.screensImage">
                        <md-option ng-repeat="(name,link) in vm.screen.images" ng-value="name">{{name}}</md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container>
                      <md-checkbox ng-model="vm.allDeviceUrl">Show All</md-checkbox>
                    </md-input-container>
                    <md-input-container class="md-block" ng-if="!vm.allDeviceUrl">
                      <input mdInput placeholder="Url" ng-model="vm.screen.images[vm.screensImage]">
                    </md-input-container>
                    <img ng-src="{{vm.screen.images[vm.screensImage]}}" class="w-full" ng-if="!vm.allDeviceUrl">
                    <div class="col-xs-12" ng-if="vm.allDeviceUrl" ng-repeat="(name,url) in vm.screen.images">
                      <div class="row">
                        <div class="col-xs-2">
                          <div class="row">
                            <img ng-src="{{url}}" class="w-full">
                            <br><br>
                          </div>
                        </div>
                        <div class="col-xs-10">
                          <div class="row">
                            <md-input-container class="md-block">
                            <input mdInput placeholder="{{name}}" ng-model="vm.screen.images[name]">
                            </md-input-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="edit-tab" role="tabpanel">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Main</h2>
              </div>
              <div class="panel-body">
                <form name="main">
                  <md-input-container>
                    <input mdInput placeholder="Title" ng-model="vm.screen.title">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput placeholder="Name" ng-model="vm.screen.name">
                  </md-input-container>
                  <md-input-container>
                    <label>Top Category</label>                        
                    <md-select ng-model="vm.screen.top_category_id">
                      <md-option ng-repeat="category in vm.categories| orderBy:'title'" ng-value="category.id">{{category.title}}</md-option>
                    </md-select>
                  </md-input-container>
                </form>
              </div>
            </div>
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Action</h2>
              </div>
              <div class="panel-body">
                <form name="action">
                  <md-input-container>
                    <input mdInput placeholder="Label" ng-model="vm.screen.action.label">
                  </md-input-container>
                  <md-input-container>
                    <input mdInput placeholder="Kind" ng-model="vm.screen.action.kind">
                  </md-input-container>
                </form>
                <form ng-submit="vm.addItem(vm.text.keyword.toLowerCase(),vm.screen.action.criteria.keywords)">
                  <md-input-container>
                    <input mdInput placeholder="Keywords" ng-model="vm.text.keyword">
                  </md-input-container>
                  <span>
                    <md-button class="md-raised md-primary" ng-click="vm.addItem(vm.text.keyword.toLowerCase(),vm.screen.action.criteria.keywords)">Add</md-button>
                  </span>
                </form>
                <div class="panel-body">
                  <span ng-repeat="keyword in vm.screen.action.criteria.keywords"> <button class="btn-primary"ng-click="vm.removeItem(keyword,vm.screen.action.criteria.keywords)">{{keyword}}</button></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="paragraphs-tab" role="tabpanel">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="panel-body">
                <md-input-container class="md-block">
                    <textarea placeholder="New Paragraph" ng-model="vm.text.paragraph" md-select-on-focus></textarea>
                </md-input-container>
                <md-button class="md-raised md-primary btn-fw m-b-sm pull-right" ng-click="vm.addItem(vm.text.paragraph,vm.screen.paragraphs)">Add</md-button>                
              </div>
            </div>
            <div class="row" ng-repeat="paragraph in vm.screen.paragraphs">
              <div class="col-sm-12">
                <div class="panel panel-card">
                  <div class="panel-body">
                    <a ng-click="vm.removeParagraph(paragraph,vm.screen.paragraphs)"><i class="icon mdi-content-clear i-20 pull-right"></i></a>
                    <p style="white-space: pre-wrap">{{paragraph}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8" ng-if="vm.screenId==='new'">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-card">
          <div class="card-heading">
            <h2>Main</h2>
          </div>
          <div class="panel-body">
            <form name="mainNew">
              <md-input-container>
                <input mdInput placeholder="Title" ng-model="vm.screen.title" required>
                <div ng-messages="mainNew.$error" role="alert">
                  <div ng-message="required">
                      Title can't be empty!
                    </div>
                </div>
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Name" ng-model="vm.screen.name" required>
                <div ng-messages="mainNew.$error" role="alert">
                  <div ng-message="required">
                      Name can't be empty!
                    </div>
                </div>
              </md-input-container>
              <md-input-container>
                <label>Top Category</label>                                          
                <md-select ng-model="vm.screen.top_category_id" required>
                  <md-option ng-repeat="category in vm.categories| orderBy:'title'" ng-value="category.id">{{category.title}}</md-option>
                </md-select>
                <div ng-messages="mainNew.$error" role="alert">
                  <div ng-message="required">
                      Please select a category!
                    </div>
                </div>
              </md-input-container>
            </form>
            <form name="actionNew">
              <md-input-container>
                <input mdInput placeholder="Label" ng-model="vm.screen.action.label" required>
                <div ng-messages="actionNew.$error" role="alert">
                  <div ng-message="required">
                      Label can't be empty!
                    </div>
                </div>
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Kind" ng-model="vm.screen.action.kind" required>
                <div ng-messages="actionNew.$error" role="alert">
                  <div ng-message="required">
                      Kind can't be empty!
                    </div>
                </div>
              </md-input-container>
            </form>
            <form ng-submit="vm.addItem(vm.text.keyword.toLowerCase(),vm.screen.action.criteria.keywords)">
              <md-input-container>
                <input mdInput placeholder="Keywords" ng-model="vm.text.keyword">
              </md-input-container>
              <span>
                <md-button class="md-raised md-primary" ng-click="vm.addItem(vm.text.keyword.toLowerCase(),vm.screen.action.criteria.keywords)">Add</md-button>
              </span>
            </form>
            <div class="panel-body">
              <span ng-repeat="keyword in vm.screen.action.criteria.keywords"> <button class="btn-primary"ng-click="vm.removeItem(keyword,vm.screen.action.criteria.keywords)">{{keyword}}</button></span>
            </div>
            <div class="panel-body">
                <md-button class="md-raised md-primary btn-fw m-b-sm pull-right" ng-disabled="mainNew.$invalid||actionNew.$invalid" ng-click="vm.createScreen()">Create</md-button>                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>