  <div class="row" ng-if="vm.dataReady">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="row">
        <div class="col-xs-6">
          <div class="panel panel-card">
           <div class="card-heading">
              <h2>Transactions</h2>
              <small>Daily paid transactions</small>
            </div>
            <div class="panel-body text-center">
              <div class="m-v-lg">
                <div class="h1 text-success font-bold">{{vm.transactions}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="panel panel-card">
            <div class="card-heading">
              <h2>Cards</h2>
              <small>Cards ordered today</small>
            </div>
            <div class="panel-body text-center">
              <div class="m-v-lg">
                <div class="h1 text-success font-bold">{{vm.cards}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutter">
        <div class="col-xs-12">
          <div class="panel panel-card">
            <div class="card-heading">
              <h2>Today vs Last week</h2>
              <small>Cards per hour</small>
            </div>
            <div class="panel-body text-center">
              <div ui-jp="plot" ui-options="
                    [
                      { label : 'Last week',
                        data: {{vm.start}},
                        points: { show: true, radius: 0},
                        splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.3 }
                      },
                      { label : 'Today',
                        data: {{vm.end}},
                        points: { show: true, radius: 0},
                        splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.3 }
                      }
                    ], 
                    {
                      colors: ['blue-grey','blue'],
                      series: { shadowSize: 3 },
                      xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom', tickDecimals: 0},
                      yaxis:{ show: true, font: { color: '#ccc' }},
                      grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                      tooltip: true,
                      tooltipOpts: { content: '%y.0 at %x:00',  defaultTheme: false, shifts: { x: 0, y: -40 } }
                    }
                  " style="height:236px">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="card">
            <div class="card-heading">
              <h2>Dashboard</h2>
              <small>Week view and daily product split</small>
            </div>
            <!--<div class="card-tools">
              <ul class="list-inline">
                <li class="dropdown">
                  <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                    <i class="mdi-navigation-more-vert text-md"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                    <li><a href>Action</a></li>
                    <li><a href>Another action</a></li>
                  </ul>
                </li>
              </ul>
            </div>-->
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="text-center">
                    Transactions trend
                  </div>
                  <div class="p-md">
                    <div ui-jp="plot" ui-options="
                      [
                        { data: {{vm.plot_line}} }
                      ], 
                      {
                        bars: { show: true, fill: true,  barWidth: 24 * 60 * 60 * 1000*0.4, lineWidth: 1, order: 1, fillColor: { colors: [{ opacity: 0.5 }, { opacity: 0.9}] } },
                        colors: ['{{app.color.primary}}','{{app.color.success}}'],
                        series: { shadowSize: 3 },
                        xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom',mode : 'time'},
                        yaxis:{ show: true, font: { color: '#ccc' }},
                        grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                        tooltip: false,
                        tooltipOpts: { content: '%x:%y.0',  defaultTheme: false, shifts: { x: 0, y: -40 } }
                      }
                    " style="height:160px" >
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="text-center">
                    Product Split
                  </div>
                  <div class="p-md">
                    <div ui-jp="plot" ui-options="
                      {{vm.plot_pie}},
                      {
                        series: { pie: { show: true, innerRadius: 0.55, stroke: { width: 3 }, label: { show: true, threshold: 0.05 } } },
                        colors: ['{{app.color.primary}}','{{app.color.success}}','{{app.color.info}}'],
                        grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },   
                        tooltip: true,
                        tooltipOpts: { content: '%s: %p.0%' }
                      }
                    " style="height:160px"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
         <div class="panel panel-card">
           <div class="card-heading">
              <h2>Andy's Report</h2>
              <small>Special report just for you</small>
            </div>
            <div class="panel-body">
              <table class="table table-stripped">
                <thead>
                  <th>Format</th>
                  <th>New User?</th>
                  <th>Order</th>
                  <th>Card</th>
                </thead>
                <tbody>
                  <tr ng-repeat="row in vm.andyTable | orderBy : 'format' : -1">
                    <td>{{row.format}}</td>
                    <td>{{row.new_user?"N":"R"}}</td>
                    <td>{{row.orders}}</td>
                    <td>{{row.cards}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="panel panel-card p m-b-sm">
        <h5 class="no-margin m-b">% new user transactions</h5>
        <div class="text-center">
          <div class="inline">
            <div ui-jp="easyPieChart" ui-options="{
                percent: {{vm.transaction_new_perc}},
                lineWidth: 12,
                trackColor: '{{app.color.light}}',
                barColor: '{{app.color.success}}',
                scaleColor: '#fff',
                size: 167,
                lineCap: 'butt',
                color: '{{color}}',
                animate: 3000,
                rotate: 270
              }" ng-init="color = getColor(app.setting.theme.primary, 400)">
              <div class="font-bold text-warning">
                {{vm.transaction_new_perc | number : 1}}%
              </div>
            </div>
          </div>
        </div>
        <div>
          <div><strong>{{vm.transactions_new}}</strong> transactions from new users</div>
        </div>
      </div>
      <div class="panel panel-card p m-b-sm">
        <h5 class="no-margin m-b">% of cards for new users</h5>
        <div class="text-center">
          <div class="inline">
            <div ui-jp="easyPieChart" ui-options="{
                percent: {{vm.cards_new_perc}},
                lineWidth: 12,
                trackColor: '{{app.color.light}}',
                barColor: '{{app.color.success}}',
                scaleColor: '#fff',
                size: 167,
                lineCap: 'butt',
                color: '{{color}}',
                animate: 3000,
                rotate: 270
              }" ng-init="color = getColor(app.setting.theme.primary, 400)">
              <div class="font-bold text-warning">
                {{vm.cards_new_perc | number : 1}}%
              </div>
            </div>
          </div>
        </div>
        <div>
          <div><strong>{{vm.cards_new}}</strong> Cards from new users</div>
        </div>
      </div>
      <div class="panel panel-card">
        <div class="card-heading">
           <h2>Transactions</h2>
           <small>new / returning</small>
         </div>
         <div class="panel-body text-center">
           <div class="m-v-lg">
              <small>today</small>
             <div class="h1 text-success font-bold">{{vm.transactions_new}} / {{vm.transactions_returning}}</div>
           </div>
           <div class="m-v-lg">
              <small>yesterday</small>
            <div class="h1 text-success font-bold">{{vm.yesterday_transactions_new}} / {{vm.yesterday_transactions_returning}}</div>
          </div>
         </div>
       </div>
    </div>
  </div>
