<div class="row" dates-selector date-type="vm.dateType"to-date="vm.toDate" from-date="vm.fromDate" group-by="vm.groupBy" remove-amazon="true" callback="vm.reload()">
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
      <h3>Orders</h3>
  </div>  
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-heading">
        <h2>Order status</h2>
        <small>Order status / period</small>
      </div>
      <div class="panel-body text-center">
        <div ng-if="vm.sent_to_printer_countArray" ui-jp="plot" ui-options="
            [
              { label : 'Paid',
                data: {{vm.paid_countArray}},
                points: { show: true, radius: 0},
                splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.2 } },
              { label : 'Remaining',
                data: {{vm.remaining_countArray}},
                points: { show: true, radius: 0},
                splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.2 } },
              { label : 'Sent',
                data: {{vm.sent_countArray}},
                points: { show: true, radius: 0},
                splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.2 } },
              { label : 'Sent to Printer',
                data: {{vm.sent_to_printer_countArray}},
                points: { show: true, radius: 0},
                splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.2 } }
            ], 
            {
              colors: ['{{app.color.info}}','{{app.color.dark}}','{{app.color.success}}','{{app.color.warning}}'],
              series: { shadowSize: 3 },
              xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom',mode : 'time' },
              yaxis:{ show: true, font: { color: '#ccc' }},
              grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
              tooltip: true,
              tooltipOpts: { content: '%x:%y.0',  defaultTheme: false, shifts: { x: 0, y: -40 } }
            }
          " style="height:236px" ui-refresh="vm.sent_to_printer_countArray">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-heading">
        <div class="row">
          <div class="col-xs-10">
            <h2>Orders by status</h2>
            <small>Orders by status / period</small>
          </div>
          <md-input-container class="pull-rigth">
            <label>status</label>
            <md-select ng-model="vm.status" ng-change="vm.orderStatsByStatus()">
                <md-option ng-repeat="option in vm.statusList" ng-value="option">{{option}}</md-option>
            </md-select>
        </md-input-container>
      </div>
    </div>
      <div class="panel-body text-center">
        <div ng-if="vm.countArray" ui-jp="plot" ui-options="
            [
              {
                data: {{vm.countArray}},
                points: { show: true, radius: 0},
                splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.2 } },
            ], 
            {
              colors: ['{{app.color.info}}','{{app.color.dark}}','{{app.color.success}}','{{app.color.warning}}'],
              series: { shadowSize: 3 },
              xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom',mode : 'time' },
              yaxis:{ show: true, font: { color: '#ccc' }},
              grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
              tooltip: true,
              tooltipOpts: { content: '%x:%y.0',  defaultTheme: false, shifts: { x: 0, y: -40 } }
            }
          " style="height:236px" ui-refresh="vm.countArray">
        </div>
      </div>
    </div>
  </div>
</div>