<div class="row" dates-selector date-type="vm.dateType"to-date="vm.toDate" from-date="vm.fromDate" group-by="vm.groupBy" exclude-amazon="vm.excludeAmazon"
  callback="vm.reload()">
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h3>Audience</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-card">
      <div class="card-heading">
        <h2>Gender</h2>
        <small>Genders per day</small>
      </div>
      <div class="panel-body text-center">
        <div ng-if="vm.malePerDay" ui-jp="plot" ui-options="
              [
                { 
                  data: {{vm.malePerDay}},
                  points: { show: true, radius: 0},
                  splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.2 }
                },
                { 
                  data: {{vm.femalePerDay}},
                  points: { show: true, radius: 0},
                  splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.6 }
                }
              ], 
              {
                colors: ['blue','pink'],
                series: { shadowSize: 3 },
                xaxis: { show: true, timezone: null, timeformat: '%d %b %y', font: { color: '#ccc' }, position: 'bottom',mode : 'time'},
                yaxis:{ show: true, font: { color: '#ccc' }},
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                tooltip: true,
                tooltipOpts: { content: '%x:%y.0',  defaultTheme: false, shifts: { x: 0, y: -40 } }
              }
            " style="height:236px" ui-refresh="vm.user_gender">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-card">
      <div class="card-heading">
        <h2>Gender</h2>
        <small>Transactions / gender</small>
      </div>
      <div class="panel-body text-center">
        <div ng-if="vm.user_gender" ui-jp="plot" ui-options="
          {{vm.user_gender}},
          {
            series: { pie: { show: true, innerRadius: 0.55, stroke: { width: 3 }, label: { show: true, threshold: 0.05 } } },
            colors: ['pink','blue'],
            grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },   
            tooltip: true,
            tooltipOpts: { content: '%s: %p.0%' }
          }
        " style="height:236px" ui-refresh="vm.user_gender"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-card">
      <div class="card-heading">
        <h2>Male</h2>
      </div>
      <div class="panel-body text-center">
        <div class="col-lg-4 m-b-lg">
          Transactions
          <div class="h3 font-bold" style="color:blue">{{vm.transactionsMale}}</div>
        </div>
        <div class="col-lg-4 m-b-lg">
          Avg Cards
          <div class="h3 font-bold" style="color:blue">{{vm.avgCardsMale|number : 1}}</div>
        </div>
        <div class="col-lg-4 m-b-lg">
          Avg Value
          <div class="h3 font-bold" style="color:blue">£{{vm.avgValueMale | number : 2 }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-card">
      <div class="card-heading">
        <h2>Female</h2>
      </div>
      <div class="panel-body text-center">
        <div class="col-lg-4 m-b-lg">
          Transactions
          <div class="h3 font-bold" style="color:pink">{{vm.transactionsFemale}}</div>
        </div>
        <div class="col-lg-4 m-b-lg">
          Avg Cards
          <div class="h3 font-bold" style="color:pink">{{vm.avgCardsFemale|number : 1}}</div>
        </div>
        <div class="col-lg-4 m-b-lg">
          Avg Value
          <div class="h3 font-bold" style="color:pink">£{{vm.avgValueFemale | number : 2 }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>