<div class="row" dates-selector  date-type="vm.dateType"to-date="vm.toDate" from-date="vm.fromDate" group-by="vm.groupBy" exclude-amazon="vm.excludeAmazon" callback="vm.reload()">
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
      <h3>Sales data</h3>
  </div>  
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-heading">
        <h2>Sales</h2>
        <small>Transaction number & Sales / period</small>
      </div>
      <div class="card-body"> 
        <div ng-if="vm.transactionsPerDayGraph && vm.valuePerDay" ui-jp="plot" ui-options="
          [
            {
              data : {{vm.transactionsPerDayGraph}},
              bars: { show: true, fill: true,  barWidth: 24 * 60 * 60 * 1000*0.4*{{vm.groupScale}}, lineWidth: 1, order: .2, fillColor: { colors: [{ opacity: 0.5 }, { opacity: 0.5}] }}
            },
            {
              data : {{vm.valuePerDay}},
              bars: { show: true, fill: true,  barWidth: 24 * 60 * 60 * 1000*0.4*{{vm.groupScale}}, lineWidth: 1, order: .6, fillColor: { colors: [{ opacity: 0.4 }, { opacity: 0.4}] }}
            }
          ], 
          {
            colors: ['{{app.color.primary}}','{{app.color.success}}'],
            series: { shadowSize: 3 },
            xaxis: { show: true, timezone: null, timeformat: '%d %b %y', font: { color: '#ccc' }, position: 'bottom',mode : 'time'},
            yaxis:{ show: true, font: { color: '#ccc' }},
            grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
            tooltip: true,
            tooltipOpts: { content: '%x: %y.0',  defaultTheme: false, shifts: { x: 0, y: -40 } }
          }
        " style="height:220px" ui-refresh="vm.transactionsPerDayGraph||vm.valuePerDay">
        </div>
      </div>
      <div class="card-heading">
        <small>Transaction/ period</small>
      </div>
      <div class="card-body"> 
        <div ng-if="vm.transactionsPerDayGraph && vm.valuePerDay" ui-jp="plot" ui-options="
          [
            {
              data : {{vm.transactionsPerDayGraph}},
              bars: { show: true, fill: true,  barWidth: 24 * 60 * 60 * 1000*0.8*{{vm.groupScale}}, lineWidth: 1, order: .2, fillColor: { colors: [{ opacity: 0.5 }, { opacity: 0.5}] }}
            }
          ], 
          {
            colors: ['{{app.color.primary}}'],
            series: { shadowSize: 3 },
            xaxis: { show: true, timezone: null, timeformat: '%d %b %y', font: { color: '#ccc' }, position: 'bottom',mode : 'time'},
            yaxis:{ show: true, font: { color: '#ccc' }},
            grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
            tooltip: true,
            tooltipOpts: { content: '%x: %y.0',  defaultTheme: false, shifts: { x: 0, y: -40 } }
          }
        " style="height:220px" ui-refresh="vm.transactionsPerDayGraph">
        </div>
      </div>
      <div class="card-heading">
        <small>Average value / period</small>
      </div>
      <div class="card-body"> 
        <div ng-if="vm.averagePerDayGraph" ui-jp="plot" ui-options="
          [
            {
              data: {{vm.averagePerDayGraph}}, 
              points: { show: true, radius: 4, lineWidth: 3, fillColor: 'rgba(63,81,181,0.6)'}, 
              lines:  { show: true, lineWidth: 1, fill: 0.2, fillColor: 'rgba(63,81,181,0.4)'},
              color:'#fff'
            }
          ],
          {
            series: { shadowSize: 3 },
            xaxis: { show: true, timezone: null, timeformat: '%d %b %y', font: { color: '#ccc' }, position: 'bottom',mode : 'time'},
            yaxis:{ show: true, font: { color: '#ccc' }},
            grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
            tooltip: true,
            tooltipOpts: { content: '%x: £%y.2',  defaultTheme: false, shifts: { x: 0, y: -40 } }
          }
        " style="height:240px" ui-refresh="vm.averagePerDayGraph">
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-card">
      <div class="card-heading">
        <h2>Sales</h2>
        <small>Total sales for period</small>
      </div>
      <div class="panel-body text-center">
        <div class="m-v-lg">
          <div class="h1 text-success font-bold">£{{vm.totalSales | number : 2}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-card">
      <div class="card-heading">
        <h2>Transactions</h2>
        <small>Transactions number</small>
      </div>
      <div class="panel-body text-center">
        <div class="m-v-lg">
          <div class="h1 text-success font-bold">{{vm.totalTransactions}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-card">
      <div class="card-heading">
        <h2>New users</h2>
        <small>New Users transactions vs total</small>
      </div>
      <div class="panel-body text-center">
        <div ng-if="vm.transactionsPerDayGraph" ui-jp="plot" ui-options="
              [
                { data: {{vm.transactionsPerDayGraph}}, points: { show: true, radius: 0}, splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.2 } },
                { data: {{vm.transactionArrayNewPerDayGraph}}, points: { show: true, radius: 0}, splines: { show: true, tension: 0.45, lineWidth: 1, fill: 1 } }
              ], 
              {
                colors: ['{{app.color.info}}','{{app.color.dark}}'],
                series: { shadowSize: 3 },
                xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom',mode : 'time' },
                yaxis:{ show: true, font: { color: '#ccc' }},
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                tooltip: true,
                tooltipOpts: { content: '%x:%y.0',  defaultTheme: false, shifts: { x: 0, y: -40 } }
              }
            " style="height:236px" ui-refresh="vm.transactionsPerDayGraph">
          </div>
      </div>
    </div>
  </div>  
  <div class="col-lg-4">
    <div class="panel panel-card">
      <div class="card-heading">
        <h2>User type</h2>
        <small>Transaction number per user type</small>
      </div>
      <div class="panel-body text-center">
        <div ng-if="vm.user_type" ui-jp="plot" ui-options="
          {{vm.user_type}},
          {
            series: { pie: { show: true, innerRadius: 0.55, stroke: { width: 3 }, label: { show: true, threshold: 0.05 } } },
            colors: ['{{app.color.primary}}','{{app.color.success}}'],
            grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },   
            tooltip: true,
            tooltipOpts: { content: '%s: %p.0%' }
          }
        " style="height:236px" ui-refresh="vm.user_type"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
     <div class="panel panel-card">
      <div class="card-heading">
        <h2>Transaction Size</h2>
        <small>Transaction size for new users</small>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <th># card</th>
            <th>transactions</th>
            <th>percentage</th>
          </thead> 
          <tbody>
            <tr ng-repeat="line in vm.transactionSizeNew | orderBy : 'size.length'">
              <td>{{line.size}}</td>
              <td>{{line.count}}</td>
              <td>{{((vm.transactionSizeNew.length>1?line.count/vm.transactionSizeNew[vm.transactionSizeNew.length-1].count:0)*100).toFixed()}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
     <div class="panel panel-card">
      <div class="card-heading">
        <h2>Transaction Size</h2>
        <small>Transaction size for returning users</small>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <th># cards</th>
            <th>transactions</th>
            <th>percentage</th>
          </thead> 
          <tbody>
            <tr ng-repeat="line in vm.transactionSizeReturning | orderBy : 'size.length'">
              <td>{{line.size}}</td>
              <td>{{line.count}}</td>
              <td>{{((vm.transactionSizeReturning.length>1?line.count/vm.transactionSizeReturning[vm.transactionSizeReturning.length-1].count:0)*100).toFixed()}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-card">
      <div class="card-heading">
        <h2>Order type</h2>
        <small>Order split by recipient type</small>
      </div>
      <div class="panel-body text-center">
        <div ng-if="vm.order_type" ui-jp="plot" ui-options="
          {{vm.order_type}},
          {
            series: { pie: { show: true, innerRadius: 0.55, stroke: { width: 3 }, label: { show: true, threshold: 0.05 } } },
            colors: ['{{app.color.primary}}','{{app.color.success}}'],
            grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },   
            tooltip: true,
            tooltipOpts: { content: '%s: %p.0%' }
          }
        " style="height:160px" ui-refresh="vm.order_type">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- <div class="col-lg-4">
    <div class="panel panel-card">
      <div class="card-heading">
        <h2>Basket Value</h2>
        <small>Home Fill orders only</small>
      </div>
      <div class="panel-body text-center">
        <div class="col-lg-4 m-b-lg">
          New<div class="h3 text-success font-bold">£{{vm.homeFillNewUserBasketValue | number : 2 }}</div>
        </div>
        <div class="col-lg-4 m-b-lg">
          Returning<div class="h3 text-success font-bold">£{{vm.homeFillReturningUserBasketValue | number : 2 }}</div>
        </div>
        <div class="col-lg-4 m-b-lg">
          All<div class="h3 text-success font-bold">£{{vm.homeFillBasketValue | number : 2 }}</div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-lg-8">
    <div class="panel panel-card">
      <div class="card-heading text-center">
        <h2>Basket Value</h2>
        <small>All Transactions</small>
      </div>
      <div class="panel-body text-center">
        <div class="col-lg-4 m-b-lg">
          New<div class="h3 text-success font-bold">£{{vm.newUserBasketValue | number : 2 }}</div>
        </div>
        <div class="col-lg-4 m-b-lg">
          Returning<div class="h3 text-success font-bold">£{{vm.returningUserBasketValue | number : 2 }}</div>
        </div>
        <div class="col-lg-4 m-b-lg">
          All<div class="h3 text-success font-bold">£{{vm.basketValue | number : 2 }}</div>
        </div>
      </div>
    </div>
  </div>
</div>