<div class="row">
  <!--left hand side panel-->
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-card">
          <div class="card-heading">
            <h2>MailChimp</h2>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12 text-left">
                <p>
                  <md-button class="md-raised md-primary" ng-click="vm.mailChimpPullAll()">Pull All</md-button>
                  <md-button class="md-raised md-primary" ng-click="vm.mailChimpPushAll()">Push All </md-button>
                </p>
              </div>
              <div class="col-sm-5 text-left">
                <md-button class="md-raised md-primary" ng-disabled="!vm.selectedProfiles.length" ng-click="vm.mailChimpUpdateProfile()">Profile Update</md-button>
              </div>
              <div class="col-sm-7">
                <div class="col-sm-12">
                  <md-autocomplete md-no-cache="true" md-selected-item-change="vm.addItem(item,vm.selectedProfiles)" md-items="item in vm.searchProfile(vm.text.one)"
                    md-search-text="vm.text.one" md-item-text="item.contact.firstname">
                    <span>{{ item.contact.firstname}} {{ item.contact.surname }} {{item.contact.email}}</span>
                  </md-autocomplete>
                </div>
                <div class="col-sm-12">
                  <span ng-repeat="profile in vm.selectedProfiles"> <a class="btn btn-primary" ng-click="vm.removeItem(profile,vm.selectedProfiles)">{{profile.contact.firstname}} {{profile.contact.surname}} {{profile.contact.email}}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="panel panel-card">
          <div class="card-heading">
            <h2>Counting Order Task</h2>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12 text-left">
                <p>
                  <md-button class="md-raised md-primary" ng-click="vm.countAllOrders()">All Orders</md-button>
                </p>
              </div>
              <div class="col-sm-5 text-left">
                <md-button class="md-raised md-primary" ng-disabled="!vm.selectedOrders.length" ng-click="vm.countOrder()">Selected Orders</md-button>
              </div>
              <div class="col-sm-7">
                <div class="col-sm-12">
                  <md-autocomplete md-no-cache="true" md-selected-item-change="vm.addItem(item,vm.selectedOrders)" md-items="item in vm.searchOrder(vm.text.two)"
                    md-search-text="vm.text.two" md-item-text="item.id">
                    <span>{{ item.costs.card_items}} Cards, At {{ item.created_at_gmt | date: "d/M/yy HH:mm" }}, By {{vm.profile(item.buyer_id)}}</span>
                  </md-autocomplete>
                </div>
                <div class="col-sm-12">
                  <span ng-repeat="order in vm.selectedOrders"> <a class="btn btn-primary" ng-click="vm.removeItem(order,vm.selectedOrders)">{{ order.costs.card_items}} Cards, At {{ order.created_at_gmt | date: "d/M/yy" }}, By {{vm.profile(order.buyer_id)}}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="panel panel-card">
          <div class="card-heading">
            <h2>Counting Card Task</h2>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12 text-left">
                <p>
                  <md-button class="md-raised md-primary" ng-click="vm.countAllCards()">All Cards</md-button>
                  <md-button class="md-raised md-primary" ng-click="vm.countRankCards()">Ranked Cards</md-button>
                </p>
              </div>
              <div class="col-sm-5 text-left">
                <md-button class="md-raised md-primary" ng-disabled="!vm.selectedCards.length" ng-click="vm.countCard()">Selected Cards</md-button>
              </div>
              <div class="col-sm-7">
                <div class="col-sm-12">
                  <md-autocomplete md-no-cache="true" md-selected-item-change="vm.addItem(item,vm.selectedCards)" md-items="item in vm.searchCards(vm.text.three)"
                    md-search-text="vm.text.three" md-item-text="item.id">
                    <span><div class="pull-left w-32 m-l-n m-t-xs m-r"><img ng-src="{{item.image.small}}" class="img-responsive"></div> By {{item.creator.name}}</span>
                  </md-autocomplete>
                </div>
                <div class="col-sm-12">
                  <span ng-repeat="card in vm.selectedCards"> <div class="pull-left w-32 m-l-n m-t-xs m-r"><a ng-click="vm.removeItem(order,vm.selectedCards)"><img ng-src="{{card.image.small}}" class="img-responsive"> By {{item.creator.name}}</a>
                  </div>
                      </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="panel panel-card">
          <div class="card-heading">
            <h2>Counting Profile Task</h2>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12 text-left">
                <p>
                  <md-button class="md-raised md-primary" ng-click="vm.countAllProfiles()">All Profiles</md-button>
                  <md-button class="md-raised md-primary" ng-click="vm.countAllProfilesPlusRecent()">*All Profiles</md-button>  *Plus Recently updated
                </p>
              </div>
              <div class="col-sm-5 text-left">
                <md-button class="md-raised md-primary" ng-disabled="!vm.selectedProfiles2.length" ng-click="vm.countProfile()">Selected Profiles</md-button>
              </div>
               <div class="col-sm-7">
                <div class="col-sm-12">
                  <md-autocomplete md-no-cache="true" md-selected-item-change="vm.addItem(item,vm.selectedProfiles2)" md-items="item in vm.searchProfile(vm.text.four)"
                    md-search-text="vm.text.four" md-item-text="item.contact.firstname">
                    <span>{{ item.contact.firstname}} {{ item.contact.surname }} {{item.contact.email}}</span>
                  </md-autocomplete>
                </div>
                <div class="col-sm-12">
                  <span ng-repeat="profile in vm.selectedProfiles2"> <a class="btn btn-primary" ng-click="vm.removeItem(profile,vm.selectedProfiles2)">{{profile.contact.firstname}} {{profile.contact.surname}} {{profile.contact.email}}</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="panel panel-card">
          <div class="card-heading">
            <h2>Counting Discount Campaign</h2>
            <div class="col-sm-6">
              <md-input-container>
                <label>Discount type</label>
                <md-select ng-model="campaign" ng-change="vm.getCampaign(campaign)">
                  <md-option value="credits">CREDITS</md-option>
                  <md-option value="coupon">COUPON</md-option>
                  <md-option value="basket">BASKET</md-option>
                  <md-option value="referral">REFERRAL</md-option>
                </md-select>
              </md-input-container>
              <div class="row">
                  <md-button class="md-raised md-primary pull-left" ng-click="vm.countCampaign(vm.selectedCampaign);vm.selectedCampaign=[]" ng-disabled="!vm.selectedCampaign.length">Count Campaign{{vm.selectedCampaign.length>1?'s':''}}</md-button>
              </div>
            </div>
            <div class="col-sm-6" ng-if="vm.campaign.length">
              <div class="col-sm-8">
                <md-autocomplete 
                flex
                md-floating-label="Campaign"
                md-no-cache="true" md-selected-item-change="vm.addItem(item,vm.selectedCampaign)" md-items="item in vm.campaign| filter :vm.text.campaign"
                  md-search-text="vm.text.campaign" md-item-text="item.name">
                  <span>{{ item.name }}</span>
                </md-autocomplete>
              </div>
              <div class="col-sm-4" ng-if="vm.text.campaign&&vm.filter(vm.campaign,vm.text.campaign).length">
                <md-button class="md-raised md-primary" ng-click="vm.addItems(vm.filter(vm.campaign,vm.text.campaign),vm.parameters.campaign)">Add All</md-button>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <span ng-repeat="campaign in vm.selectedCampaign"> <button class="btn-primary" ng-click="vm.removeItem(campaign,vm.selectedCampaign)">{{campaign.name}}</button></span>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
          <div class="panel panel-card">
            <div class="card-heading">
              <h2>Triggers</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                  <div class="col-sm-12 text-left">
                      <h2>Explore</h2>
                      <p>
                        <md-button class="md-raised md-primary" ng-click="vm.refreshExplore()">Refresh Explore</md-button>
                      </p>
                    </div>
                <div class="col-sm-12 text-left">
                  <h2>Reports</h2>
                  <p>
                    <md-button class="md-raised md-primary" ng-click="vm.cardReports()">Card Reports</md-button>
                    <md-button class="md-raised md-primary" ng-click="vm.sessionReports()">Session Reports</md-button>
                  </p>
                </div>
                <div class="col-sm-12 text-left">
                  <h2>Tasks</h2>
                  <p>
                    <md-button class="md-raised md-primary" ng-click="vm.newSessionTask()">Start New Task</md-button>
                    <md-button class="md-raised md-primary" ng-click="vm.taskProgress()">Tasks Progress</md-button>
                  </p>
                    <table class="table table-hover" ng-if="vm.taskList.length">
                      <thead>
                        <tr>
                          <th>Task</th>
                          <th>Processed Elements</th>
                          <th>Total Elements</th>
                          <th>Percentage Completed</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="task in vm.taskList">
                          <td>{{task.task}}</td>
                          <td>{{task.processed_elements}}</td>
                          <td>{{task.total_elements}}</td>
                          <td>{{task.percentage_completed}}%</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="col-sm-12 text-left">
                  <h2>Emails</h2>
                  <p>
                    <md-input-container>
                      <label>Type</label>                        
                      <md-select ng-model="vm.emailtype">
                        <md-option ng-repeat="type in vm.emailtypeList" ng-value="type">{{type}}</md-option>
                      </md-select>
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-click="vm.triggerEmails()">All Emails</md-button>
                  </p>
                  <p>
                    <md-input-container>
                      <label>Status</label>                        
                      <md-select ng-model="vm.status">
                        <md-option ng-repeat="status in vm.statusList" ng-value="status">{{status}}</md-option>
                      </md-select>
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-click="vm.triggerSelectedEmails()">Selected Emails</md-button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!--right hand side panel-->