<div class="row">
  <div class="col-sm-4" ng-repeat="profile in vm.featuredList">
    <div class="panel panel-card" style="height:450px">
      <div class="item">
        <img ng-src="{{profile.public_profile.banner_picture.medium}}" class="w-full r-t" style="height:250px">
        <div class="bottom text-white p">
          {{profile.public_profile.nickname}}
        </div>
      </div>
      <a ui-sref="users.profile({profileId: profile.id})" md-ink-ripple class="md-btn md-icon md-raised md-fab brown m-r md-fab-offset pull-right"><img ng-src="{{profile.public_profile.profile_picture.medium}}" class="img-responsive rounded"></a>
      <div class="p">
        <h3>{{profile.contact.firstname}} {{profile.contact.surname}}</h3>
        <p>
          {{profile.public_profile.bio}}
        </p>
      </div>
    </div>
  </div>
</div>