<div class="row" ng-if="!vm.ready">
  <div class="col-sm-6 col-md-offset-3">
    <div class="panel panel-card">
      <div class="panel-body text-center">
        <p>Loading</p>
        <md-progress-linear md-mode="indeterminate" class="m-b"></md-progress-linear>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-if="vm.ready">
  <div class="col-sm-4">
    <div class="panel panel-card">
      <div class="r-t pos-rlt grey-400" ng-style="{'background' : 'url(' + vm.profile.public_profile.banner_picture.medium + ') center center', 'background-size' : 'cover', 'background-color' :'#e0e0e0'}">
        <ul class="list-inline pull-right">
          <li class="dropdown">
            <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
              <i class="mdi-navigation-more-vert text-md"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
              <li ng-if="vm.profile.enabled">
                <a ng-click="vm.disableProfile()">Disable Profile</a>
              </li>
              <li ng-if="!vm.profile.enabled">
                <a ng-click="vm.disableProfile()">Enable Profile</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="p-lg text-center r-t">
          <a href class="w-xs inline">
            <img ng-src="{{vm.profile.public_profile.profile_picture.medium?vm.profile.public_profile.profile_picture.medium:'images/default.jpg'}}"
              class="img-circle img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="text-white">{{vm.profile.public_profile.nickname}}</span>
          </div>
        </div>
      </div>
      <div class="p">
        <strong class="text-danger" ng-if="!vm.profile.enabled">This Profile is Disabled</strong>
        <div class="row">
          <div class="col-xs-2">
            <a ng-click="vm.featured()" class="fa fa-star i-20" ng-class="!vm.profile.featured_creator?'fa-star-o':'text-warning'"></a>
          </div>
          <div class="col-xs-10">
            <h4 ng-if="!vm.editInfoMode">
              <span>
                {{vm.profile.contact.firstname}} {{vm.profile.contact.surname}}
                <a ng-click="vm.editInfo()">
                  <i class="icon mdi-editor-mode-edit i-16 pull-right"></i>
                </a>
              </span>
              <span ng-if="vm.profile.last_login.endpoint_type==='FACEBOOK'">
                <i class="fa fa-facebook-square text-primary pull-left i-20"> </i>
              </span>
            </h4>
            <div class="form-group" ng-if="vm.editInfoMode">
              <form ng-submit="vm.saveInfo()">
                <input class="pull-left" ng-model="vm.info.firstname">
                <input class="pull-left" ng-model="vm.info.surname">
              </form>
              <span class="pull-right">
                <a ng-click="vm.saveInfo()" class="glyphicon rounded green">
                  <i class="icon mdi-navigation-check i-20"></i>
                </a>
                <a ng-click="vm.disableInfoEditor()" class="glyphicon rounded red">
                  <i class="icon mdi-navigation-close i-20"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <a md-ink-ripple href="mailto:{{vm.profile.contact.email}}">
              <i class="icon mdi-communication-email i-16"></i>
            </a>
          </div>
          <div class="col-xs-10">
            <div ng-hide="vm.editorEnabled">
              {{vm.profile.contact.email}}
              <a ng-click="vm.enableEditor()">
                <i class="icon mdi-editor-mode-edit i-16 pull-right"></i>
              </a>
            </div>
            <div ng-show="vm.editorEnabled">
              <form ng-submit="vm.saveEmail()">
                <input class="pull-left" ng-model="vm.editableTitle" ng-show="vm.editorEnabled">
              </form>
              <span class="pull-right">
                <a ng-click="vm.saveEmail()" class="glyphicon rounded green">
                  <i class="icon mdi-navigation-check i-20"></i>
                </a>
                <a ng-click="vm.disableEditor()" class="glyphicon rounded red">
                  <i class="icon mdi-navigation-close i-20"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <i class="icon mdi-action-home i-16"></i>
          </div>
          <div class="col-xs-10" ng-if="vm.homeAddress">
            <span ng-if="vm.homeAddress.address1">{{vm.homeAddress.address1}}
              <br>
            </span>
            <span ng-if="vm.homeAddress.address2">{{vm.homeAddress.address2}}
              <br>
            </span>
            <span ng-if="vm.homeAddress.address3">{{vm.homeAddress.address3}}
              <br>
            </span>
            <span ng-if="vm.homeAddress.city">{{vm.homeAddress.city}}
              <br>
            </span>
            <span ng-if="vm.homeAddress.postcode">{{vm.homeAddress.postcode}}
              <br>
            </span>
            <span ng-if="vm.homeAddress.country">{{vm.homeAddress.country}}
              <br>
            </span>
          </div>
          <div class="col-sm-10" ng-if="!vm.homeAddress">
            No home address
          </div>
        </div>
      </div>
      <div class="list-group no-radius no-border">
        <a class="list-group-item">
          <span class="pull-right badge">{{vm.profile.profile_report.paid_orders}}</span> Paid Orders
        </a>
        <a class="list-group-item">
          <span class="pull-right badge">£{{vm.profile.profile_report.total_spent.toFixed(2)}}</span> Total Spent
        </a>
        <a class="list-group-item">
          <span class="pull-right badge" ng-class="{'bg-warning': vm.profile.profile_report.total_refunded_orders}">{{vm.profile.profile_report.total_refunded_orders}}</span> Refunded Orders
        </a>
        <a class="list-group-item">
          <span class="pull-right badge">{{vm.profile.profile_report.total_cards_sold}}</span> Sold Cards
        </a>
        <a class="list-group-item" ng-if="vm.profile.creator_tier">
          <span class="pull-right badge">{{vm.profile.creator_tier}}</span> Creator Tier
        </a>
        <a class="list-group-item" ng-if="vm.profile.vat_certificates.length">
          <span class="pull-right font-bold" ng-class="vm.missing(vat.validation.approved)" ng-repeat="vat in vm.profile.vat_certificates | filter :{active:true}">{{vat.validation.moderation_status}}</span> VAT Status
        </a>
      </div>
      <div class="text-center b-b b-light">
        <a href class="inline m text-color">
          <span class="h4 block font-bold">{{vm.profile.created_at_gmt | date : "d MMM yy"}}</span>
          <em class="text-xs">Registered</em>
        </a>
        <a href class="inline m text-color">
          <span class="h4 block font-bold">{{vm.profile.last_login.created?vm.profile.last_login.created:vm.profile.created_at_gmt | date : "d MMM yy"}}</span>
          <em class="text-xs">Last Login</em>
        </a>
      </div>
      <div class="p">
        <p>Bio</p>
        <div ng-if="!vm.editInfoMode">
          <span class="pull-right">
            <a ng-click="vm.editInfo()">
              <i class="icon mdi-editor-mode-edit i-16 pull-right"></i>
            </a>
          </span>
          <p>{{vm.profile.public_profile.bio}}</p>
        </div>
        <div ng-if="vm.editInfoMode">
          <textarea ng-model="vm.info.bio"></textarea>
          <span class="pull-right">
            <a ng-click="vm.saveInfo()" class="glyphicon rounded green">
              <i class="icon mdi-navigation-check i-20"></i>
            </a>
            <a ng-click="vm.disableInfoEditor()" class="glyphicon rounded red">
              <i class="icon mdi-navigation-close i-20"></i>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-card">
          <div class="panel-body">
            <ul class="nav nav-pills m-b">
              <li class="nav-item {{vm.profile.creator_tier?'active':''}}">
                <a href data-toggle="pill" data-target="#creator-tab">Sales</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#cards-tab">Cards</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#payment-tab">Payments</a>
              </li>
              <li class="nav-item {{!vm.profile.creator_tier?'active':''}}">
                <a href data-toggle="pill" data-target="#customer-tab">Purchases</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#method-tab" ng-click="vm.getPaymentMethod()">Payment Method</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#notes-tab">Notes</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#basket-tab">Basket</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#credit-tab">Credits</a>
              </li>
              <li class="nav-item">
                <a href data-toggle="pill" data-target="#email-tab" ng-click="vm.getEmailList()">Emails</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane {{vm.profile.creator_tier?'active':''}}" id="creator-tab" role="tabpanel">
        <div class="row">
          <div class="col-lg-4">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Cards in Catalog</h2>
                <small>Moderated as thortful</small>
              </div>
              <div class="panel-body text-center">
                <div class="m-v-lg">
                  <div class="h1 text-success font-bold">{{vm.profile.profile_report.cards_in_catalog}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Cards to review</h2>
                <small>Cards awaiting moderation</small>
              </div>
              <div class="panel-body text-center">
                <div class="m-v-lg">
                  <div class="h1 {{vm.profile.profile_report.total_public_unmoderated_cards==0?'text-success':'text-warning'}} font-bold">{{vm.profile.profile_report.total_public_unmoderated_cards+vm.profile.profile_report.total_private_unmoderated_cards}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Unpaid royalties</h2>
                <small>last + current</small>
              </div>
              <div class="panel-body text-center">
                <div class="m-v-lg">
                  <div class="h1 text-success font-bold">{{vm.profile.profile_report.total_cards_sold - vm.profile.profile_report.paid_cards_quantity}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Sales</h2>
                <small>Cards sold per month</small>
              </div>
              <div class="panel-body">
                <div ng-if="vm.salesReport.length > 0" ui-jp="plot" ui-options="
                    [
                      {
                        data : {{vm.salesReport}},
                        bars: { show: true, fill: true,  barWidth: 24 * 60 * 60 * 1000*25, lineWidth: 1, order: 1, fillColor: { colors: [{ opacity: 0.5 }, { opacity: 0.9}] }}
                      }
                    ], 
                    {
                      colors: ['{{app.color.primary}}','{{app.color.success}}'],
                      series: { shadowSize: 3 },
                      xaxis: { show: true, timeformat: '%b %y', font: { color: '#ccc' }, position: 'bottom',mode : 'time'},
                      yaxis:{ show: true, font: { color: '#ccc' }},
                      grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                      tooltip: true,
                      tooltipOpts: { content: '%x %y.0',  defaultTheme: false, shifts: { x: 0, y: -40 } }
                    }
                  " style="height:220px;width:100%" ui-refresh="vm.salesReport">
                </div>
                <div ng-if="vm.salesReport.length == 0">
                  no sales recorded
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Tier and card allocation</h2>
                <small>Slots available</small>
              </div>
              <div class="card-tools">
                <ul class="list-inline" ng-if="!editTierMode">
                  <li class="dropdown">
                    <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                      <i class="mdi-navigation-more-vert text-md"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                      <li>
                        <a ng-click="vm.editTier()">Edit</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="panel-body text-center">
                <div class="row" ng-if="!vm.editTierMode">
                  <div class="col-md-4">
                    <p class="font-bold">Tier</p>
                    <p class="h1 text-success font-bold m-v-lg">{{vm.creatorTier}}</p>
                  </div>
                  <div class="col-md-4">
                    <p class="font-bold">Viewable Slots</p>
                    <p class="h1 text-success font-bold m-v-lg">{{vm.viewableLimit}}</p>
                  </div>
                  <div class="col-md-4">
                    <p class="font-bold">Total Slots</p>
                    <p class="h1 text-success font-bold m-v-lg">{{vm.totalLimit}}</p>
                  </div>
                </div>
                <div class="row" ng-if="vm.editTierMode">
                  <div class="col-md-4">
                    <p class="font-bold">Tier</p>
                    <md-select ng-model="vm.creatorTier" placeholder="Choose Tier" ng-change="">
                      <md-option value="1">1-Average</md-option>
                      <md-option value="2">2-Potential</md-option>
                      <md-option value="3">3-Good</md-option>
                      <md-option value="4">4-Top</md-option>
                      <md-option value="5">5-Vip</md-option>
                    </md-select>
                  </div>
                  <div class="col-md-4">
                    <p class="font-bold">Viewable Slots</p>
                    <input type="text" class="form-control" placeholder="Viewable slots" ng-model="vm.viewableLimit">
                  </div>
                  <div class="col-md-4">
                    <p class="font-bold">Total Slots</p>
                    <input type="text" class="form-control" placeholder="Total slots" ng-model="vm.totalLimit">
                  </div>
                </div>
                <div class="row" ng-if="vm.editTierMode">
                  <md-button class="md-raised md-primary btn-fw m-b-sm pull-right" ng-click="vm.saveTier()">Save</md-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Royalties</h2>
                <small>Slots available</small>
              </div>
              <div class="card-tools">
                <ul class="list-inline" ng-if="!vm.editRoyaltiesMode">
                  <li class="dropdown">
                    <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                      <i class="mdi-navigation-more-vert text-md"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                      <li>
                        <a ng-click="vm.editRoyalties()">Add New</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-6 m-b">
                    <div class="row">
                      <div class="col-xs-2">
                        £
                      </div>
                      <div class="col-xs-10">
                        <span>{{vm.activeRoyalty.royalties_amount}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-xs-2">
                        <i class="icon mdi-action-schedule i-16"></i>
                      </div>
                      <div class="col-xs-10 m-b" ng-if="vm.profile.invoicing_details.address">
                        <span>{{vm.activeRoyalty.start_date | date : "d/M/yy"}} - {{vm.activeRoyalty.end_date?(vm.activeRoyalty.end_date | date : "d/M/yy"):'now'}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <small ng-if="vm.activeRoyalty.message">{{vm.activeRoyalty.message}}</small>
                  </div>
                </div>
                <div class="text-center">
                  <a ng-click="vm.showRoyaltyTable=!vm.showRoyaltyTable">
                    {{vm.showRoyaltyTable?"Hide History":"Show History"}}
                    <i class="icon mdi-navigation-expand-{{vm.showRoyaltyTable?'less':'more'}}"></i>
                  </a>
                </div>
                <table class="table table-striped" ng-if="vm.showRoyaltyTable">
                  <thead>
                    <th>Amount</th>
                    <th>Period</th>
                    <th>Message</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="royalty in vm.royalties">
                      <td>£{{royalty.royalties_amount}}</td>
                      <td>{{royalty.start_date | date : "d/M/yy"}} - {{royalty.end_date?(royalty.end_date | date : "d/M/yy"):'now'}}</td>
                      <td>{{royalty.message}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane {{!vm.profile.creator_tier?' active':''}}" id="customer-tab" role="tabpanel">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Orders</h2>
                <small>All orders placed</small>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 col-sm-12" style="font-weight: bold; padding: 10px;">
                    <div class="col-xs-3">Date</div>
                    <div class="col-xs-3">Address</div>
                    <div class="col-xs-3">Amount</div>
                    <div class="col-xs-3">Status</div>
                  </div>
                  <a ng-repeat="order in vm.purchases.orders" ui-sref="users.order({orderId: order.id})">
                    <div class="col-xs-12 col-sm-12 b-l b-l-2x b-l-info" ng-style="vm.orderStyle($index)">
                      <div class="badge- badge-lg ng-scope text-primary" ng-if="vm.purchases.orders[$index].style!=vm.purchases.orders[$index-1].style"
                        style="
                        position:  absolute;
                        top: -1px;
                        background:  white;
                        left: -12px;
                        border-style:  solid;
                        border-width: 1px;
                        width: 25px;
                        height: 25px;
                        padding: 0 0 0 5px;
                    ">
                        <i class="fa fa-envelope" ng-if="vm.purchases.orders[$index].style!=vm.purchases.orders[$index-1].style" style="font-size:  13px;"></i>
                      </div>
                      <div class="col-xs-3">{{order.created_at_gmt | date : "d/M/yy"}}</div>
                      <div class="col-xs-3">{{order.delivery_address.recipient}}, {{order.delivery_address.postcode}}</div>
                      <div class="col-xs-3">£{{order.costs.final_cost | number : 2}}</div>
                      <div class="col-xs-3">
                        <div ng-repeat="status in order.status_changes" ng-if="!$index||vm.checkStatus(status.status)" ng-class="{'text-danger':vm.checkStatus(status.status)}">{{status.status}}</div>
                      </div>
                    </div>
                  </a>
                </div>
                <md-button class="md-raised md-primary btn-fw m-b-sm pull-left" ng-if="vm.orderPage > 0" ng-click="vm.loadProfileOrders(vm.orderPage - 1)">Prev</md-button>
                <md-button class="md-raised md-primary btn-fw m-b-sm pull-right" ng-if="!vm.purchases.is_last" ng-click="vm.loadProfileOrders(vm.orderPage + 1)">Next</md-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="cards-tab" role="tabpanel">
        <div class="row">
          <div class="col-sm-4 col-lg-3" ng-repeat="card in vm.cardList.cards" ng-click="vm.nextCard(card.id,$index)">
            <div class="panel panel-card">
              <div class="item">
                <a ui-sref="cards.card({cardId: card.id})">
                  <img ng-src="{{card.image.medium}}" class="w-full r-t" style="height:180px">
                </a>
              </div>
              <div class="p text-center">
                <i class="fa i-20" ng-class=vm.status(card.visibility,card.moderation.status)></i>
                <br>
                <small>{{card.visibility==="PUBLIC"?"profile":card.visibility | lowercase}} -
                  <div>{{card.moderation.status | lowercase}}</div>
                </small>
              </div>
              <div class="list-group no-radius no-border">
                <small class="list-group-item">
                  <span class="pull-right">{{card.created_at | date : "dd/MM/yyyy"}}</span> Created
                </small>
                <small class="list-group-item">
                  <span class="pull-right badge">{{card.card_report.total_sales}}</span> Sales
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <md-button class="md-raised md-primary btn-fw m-b-sm pull-left" ng-if="vm.cardPage > 0" ng-click="vm.loadProfileCards(vm.cardPage - 1)">Prev</md-button>
            <md-button class="md-raised md-primary btn-fw m-b-sm pull-right" ng-if="!vm.cardList.is_last" ng-click="vm.loadProfileCards(vm.cardPage + 1)">Next</md-button>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="method-tab" role="tabpanel">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="panel-body" ng-if="vm.loadingPayment">
                <p>Loading</p>
                <md-progress-linear md-mode="indeterminate" class="m-b"></md-progress-linear>
              </div>
              <div class="panel-body" ng-if="!vm.loadingPayment&&vm.paymentMethod.length===0">
                No Payment Method Found
              </div>
            </div>
          </div>
          <div class="col-sm-12" ng-repeat="method in vm.paymentMethod" ng-if="!vm.loadingPayment">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Stripe
                  <a ng-click="vm.deletePaymentMethod(method)">
                    <i class="icon mdi-content-clear i-20 pull-right"></i>
                  </a>
                </h2>
              </div>
              <div class="panel-body">
                <p>{{method.brand}}</p>
                <p>XXXX-XXXX-XXXX-{{method.last4}}</p>
                <p>exp: {{method.exp_month}} / {{method.exp_year}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="notes-tab" role="tabpanel">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Add Note</h2>
              </div>
              <div class="panel-body">
                <form class="ng-pristine ng-valid" ng-submit="vm.addNote()">
                  <textarea class="form-control no-border p-md" ng-rows="2" ng-model="vm.note" placeholder="Write something..."></textarea>
                </form>
                <div class="lt p">
                  <button md-ink-ripple="" ng-click="vm.addNote()" class="md-btn md-raised pull-right p-h-md indigo">Post</button>
                  <ul class="nav nav-pills nav-sm">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-repeat="result in vm.noteList | orderBy : '-created'">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading b-b b-light">
                <div class="row">
                  <div class="col-xs-1" style="height:40px">
                    <img ng-src="{{vm.creatorsPicture(result.user_created_id)?vm.creatorsPicture(result.user_created_id):'images/default.jpg'}}"
                      class="img-circle" width="40px" height="40px">
                  </div>
                  <div class="col-xs-11" style="height:40px">
                    <b>{{vm.creatorsNickname(result.user_created_id)}}
                      <a ng-click="vm.deleteNote(result.id)">
                        <i class="icon mdi-content-clear i-20 pull-right"></i>
                      </a>
                    </b>
                    <p>{{result.created| date : "dd/MM/yyyy"}} at {{result.created| date : "H:mm"}}</p>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="m-v-lg">
                  <p>{{result.text}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="payment-tab" role="tabpanel">
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-card" style="height:160px">
              <div class="card-heading">
                <h2>Paypal Email</h2>
              </div>
              <div ng-if="vm.paypalEmail" class="panel-body text-center">
                {{vm.profile.payment_info.paypal_account.withdrawal_email.address}}
              </div>
              <div ng-if="!vm.paypalEmail" class="panel-body text-center">
                No email.
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-card" style="height:160px">
              <div class="card-heading">
                <h2>Total cards paid</h2>
              </div>
              <div class="panel-body text-center">
                <p class="h1 text-success font-bold">{{vm.profile.profile_report.paid_cards_quantity}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Payments</h2>
                <small>Royalties payments</small>
              </div>
              <div class="card-tools">

                <span class="text-danger" ng-if="!vm.profile.invoicing_details">Invalid Invoice</span>
                <span class="text-danger" ng-if="!vm.profile.payment_info.paypal_account">Invalid Payment Info</span>
                <md-button class="md-raised md-primary" ng-click="vm.pay()" ng-if="vm.profile.profile_report.unpaid_amount" ng-disabled="!vm.profile.invoicing_details||!vm.profile.payment_info.paypal_account">Pay Creator</md-button>
              </div>
              <div class="panel-body">
                <table class="table table-striped">
                  <thead>
                    <th>Date</th>
                    <th>Net</th>
                    <th>VAT</th>
                    <th>Total</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="payment in vm.profile.profile_report.creator_payouts">
                      <td>{{payment.date | date : "d/M/yy"}}</td>
                      <td>£{{payment.amount.amount | number :2}}</td>
                      <td>£{{payment.vatamount | number :2}}</td>
                      <td>£{{payment.vatamount + payment.amount.amount| number :2}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Invoice</h2>
                <small>Company information</small>
              </div>
              <div class="panel-body">
                <div class="m-v-lg">
                  <div class="row">
                    <div class="col-sm-6 m-b">
                      <div class="row">
                        <div class="col-xs-2">
                          <i class="icon mdi-communication-business i-16"></i>
                        </div>
                        <div class="col-xs-10">
                          <span>Name : {{vm.profile.invoicing_details.company_name}}
                            <br>
                          </span>
                          <span>Number : {{vm.profile.invoicing_details.company_number}}
                            <br>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-xs-2">
                          <i class="icon mdi-maps-store-mall-directory i-16"></i>
                        </div>
                        <div class="col-xs-10 m-b" ng-if="vm.profile.invoicing_details.address">
                          <span ng-if="vm.profile.invoicing_details.address.recipient">{{vm.profile.invoicing_details.address.recipient}}
                            <br>
                          </span>
                          <span ng-if="vm.profile.invoicing_details.address.address1">{{vm.profile.invoicing_details.address.address1}}
                            <br>
                          </span>
                          <span ng-if="vm.profile.invoicing_details.address.address2">{{vm.profile.invoicing_details.address.address2}}
                            <br>
                          </span>
                          <span ng-if="vm.profile.invoicing_details.address.address3">{{vm.profile.invoicing_details.address.address3}}
                            <br>
                          </span>
                          <span ng-if="vm.profile.invoicing_details.address.city">{{vm.profile.invoicing_details.address.city}}
                            <br>
                          </span>
                          <span ng-if="vm.profile.invoicing_details.address.state">{{vm.profile.invoicing_details.address.state}}
                            <br>
                          </span>
                          <span ng-if="vm.profile.invoicing_details.address.postcode">{{vm.profile.invoicing_details.address.postcode}}
                            <br>
                          </span>
                          <span ng-if="vm.profile.invoicing_details.address.country">{{vm.profile.invoicing_details.address.country}}
                            <br>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-repeat="vat in vm.profile.vat_certificates|orderBy:'-'" ng-if="!$index||vm.hideVat">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>VAT information</h2>
                <small>Vat certificate information</small>
              </div>
              <div class="card-tools">
                <ul class="list-inline">
                  <li class="dropdown">
                    <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                      <i class="mdi-navigation-more-vert text-md"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                      <li>
                        <a ng-click="vm.vatApprove(true,vat.id)" ng-if="!vat.validation.approved">Approve</a>
                      </li>
                      <li>
                        <a ng-click="vm.vatApprove(false,vat.id)" ng-if="vat.validation.approved||vat.validation.moderation_status == 'AWAITING_REVIEW'">Reject</a>
                      </li>
                      <li>
                        <a ng-click="vm.vatClose()" ng-if="vat.validation.approved&&!vat.end_date">Close</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="panel-body">
                <div class="m-v-lg">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-xs-2">
                          <i class="icon mdi-maps-store-mall-directory i-16"></i>
                        </div>
                        <div class="col-xs-10 m-b" ng-if="vat.address">
                          <span ng-if="vat.address.recipient">{{vat.address.recipient}}
                            <br>
                          </span>
                          <span ng-if="vat.address.address1">{{vat.address.address1}}
                            <br>
                          </span>
                          <span ng-if="vat.address.address2">{{vat.address.address2}}
                            <br>
                          </span>
                          <span ng-if="vat.address.address3">{{vat.address.address3}}
                            <br>
                          </span>
                          <span ng-if="vat.address.city">{{vat.address.city}}
                            <br>
                          </span>
                          <span ng-if="vat.address.state">{{vat.address.state}}
                            <br>
                          </span>
                          <span ng-if="vat.address.postcode">{{vat.address.postcode}}
                            <br>
                          </span>
                          <span ng-if="vat.address.country">{{vat.address.country}}
                            <br>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 m-b">
                      <div class="row">
                        <div class="col-xs-2">
                          <i class="icon mdi-action-verified-user i-16"></i>
                        </div>
                        <div class="col-xs-10 m-b">
                          <!-- TODO : Check the logic of the certificate validation -->
                          <p>{{vm.profile.vatnumber}}</p>
                          <span ng-if="vat.validation.approved" class="label green">Approved</span>
                          <span ng-if="vat.validation.approved&&vm.expiredDate(vat.end_date)" class="label orange">Closed</span>
                          <span ng-if="!vat.validation.approved && vat.validation.moderation_status == 'AWAITING_REVIEW'" class="label orange">Pending</span>
                          <span ng-if="!vat.validation.approved && vat.validation.moderation_status == 'REJECTED'" class="label red">Rejected</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-2">
                          <i class="icon mdi-action-schedule i-16"></i>
                        </div>
                        <div class="col-xs-10 m-b">
                          {{vm.vatDate(vat.start_date) | date : "d/M/yy"}} - {{vm.vatDate(vat.end_date) | date : "d/M/yy"}}
                        </div>
                      </div>
                      <div class="row" ng-if="vat.has_image">
                        <div class="col-xs-2">
                          <i class="icon mdi-action-get-app i-16"></i>
                        </div>
                        <div class="col-xs-10 m-b">
                          <a href="{{vat.image.original}}" target="_blank">Download certificate</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center" ng-if="vm.profile.vat_certificates.length>1">
          <a ng-click="vm.showVat()">
            {{vm.hideVat?"Hide Back":"Show More"}}
            <i class="icon mdi-navigation-expand-{{vm.hideVat?'less':'more'}}"></i>
          </a>
        </div>
      </div>
      <div class="tab-pane" id="credit-tab" role="tabpanel">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Credits</h2>
                <small>Total credits</small>
              </div>
              <div class="card-tools">
                <ul class="list-inline" ng-if="!addCreditsMode">
                  <li class="dropdown">
                    <a md-ink-ripple data-toggle="dropdown" class="md-btn md-flat md-btn-circle">
                      <i class="mdi-navigation-more-vert text-md"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                      <li>
                        <a ng-click="vm.addCredits()">Add credits</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="panel-body text-center">
                <div class="row " ng-if="!vm.addCreditsMode">
                  <div class="col-md-6">
                    <p class="font-bold">Available</p>
                    <p class="h1 text-success font-bold m-v-lg">{{vm.profile.profile_credits.amount_available}}</p>
                  </div>
                  <div class="col-md-6">
                    <p class="font-bold">Value</p>
                    <p class="h1 text-success font-bold m-v-lg">{{vm.profile.profile_credits.amount_available*0.0329 | currency : '£'}}</p>
                  </div>
                </div>
                <div class="row" ng-if="vm.addCreditsMode">
                  <div class="col-md-2">
                    <p class="font-bold">Credits</p>
                    <input type="text" class="form-control" placeholder="No of Credits" ng-model="vm.credits">
                  </div>
                  <div class="col-md-5">
                    <p class="font-bold">Expire Date</p>
                    <input type="date" class="form-control" placeholder="Expire Date" ng-model="vm.expDate">
                  </div>
                  <div class="col-md-5">
                    <p class="font-bold">Reason</p>
                    <input type="text" class="form-control" placeholder="Reason" ng-model="vm.reason">
                  </div>
                </div>
                <div class="row" ng-if="vm.addCreditsMode">
                  <div class "col-xs-4 .col-xs-offset-4">
                    <md-button class="md-raised md-primary btn-fw m-b-sm pull-right" ng-click="vm.sendCredits()">Add</md-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Credits</h2>
                <small>Available</small>
              </div>
              <div class="card-body">
                <div class="streamline b-l b-accent m-b m-l">
                  <div class="sl-item b-primary b-l" ng-repeat="result in vm.availableGroup | orderBy : '-id.date'" ng-if="result.expiry>vm.date">
                    <div class="sl-content">
                      <div class="text-muted-dk">Created : {{result.id.date | date : "d/M/yy HH:mm"}} Expires: {{result.expiry | date : "d/M/yy"}}</div>
                      <p>{{result.amount}} , {{result.source.reason}}{{result.source.coupon_code}}</p>
                      <a data-toggle="collapse" ng-click="vm.collapse($event)" ng-if="result.siblings">
                        Relative Credits
                        <i class="fa fa-caret-down"></i>
                      </a>
                      <div class="collapse">
                        <div class="sl-content" ng-repeat="sibling in result.siblings" style="padding-top:10px;">
                          <div class="text-muted-dk">Created : {{sibling.id.date | date : "d/M/yy HH:mm"}}</div>
                          <p>{{sibling.amount}} , {{sibling.source.reason}}{{sibling.source.coupon_code}}</p>
                          <a data-toggle="collapse" ng-click="vm.collapse($event)" ng-if="sibling.parents">
                            Credit History
                            <i class="fa fa-caret-down"></i>
                          </a>
                          <div class="collapse">
                            <div class="sl-content" ng-repeat="parent in sibling.parents" style="padding-top:10px;" ng-if="sibling.parents[$index].amount!=sibling.parents[$index-1].amount">
                              <div class="text-muted-dk">Created : {{parent.id.date | date : "d/M/yy HH:mm"}}</div>
                              <p>{{parent.amount}} , {{parent.source.reason}}{{parent.source.coupon_code}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p ng-if="result.source.profile_id">By
                        <a href class="text-info">{{vm.creatorsNickname(result.source.profile_id)}}</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="email-tab" role="tabpanel">
        <div class="row">
          <div class="col-lg-4" ng-repeat="(name, type) in vm.emails">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>{{vm.toTitleCase(name)}}</h2>
              </div>
              <div class="panel-heading text-center" data-toggle="collapse" ng-click="vm.collapseNext($event);">
                <div class="m-v-lg">
                  <div class="h1 text-success font-bold">{{type.list.length}}</div>
                </div>
              </div>
              <div class="collapse no-radius no-border">
                <a class="list-group-item" ng-repeat="(type2,num) in type.type">
                  {{vm.toTitleCase(type2)}} <span class="pull-right">{{num}}</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="panel panel-card">
              <div class="card-heading">
              </div>
              <div class="panel-body text-center">
                <md-button class="md-raised btn-fw m" ng-class="{'md-primary':vm.emailType==name}" ng-click="vm.emailType=name" ng-repeat="(name, type) in vm.emails">{{name}}</md-button>
                <md-button class="md-raised btn-fw m md-primary pull-right" ng-if="vm.emails[vm.emailType].page<vm.emails[vm.emailType].list.length-10" ng-click="vm.emails[vm.emailType].page=vm.emails[vm.emailType].page+10">next</md-button>
                <md-button class="md-raised btn-fw m md-primary pull-left" ng-if="vm.emails[vm.emailType].page>0" ng-click="vm.emails[vm.emailType].page=vm.emails[vm.emailType].page-10">prev</md-button>
              </div>
              <table class="table table-hover" ng-if="vm.emailType">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-click="vm.optionDialog(email)" ng-repeat="email in vm.emails[vm.emailType].list | orderBy: '-last_updated'" ng-if="$index>=vm.emails[vm.emailType].page&&$index<vm.emails[vm.emailType].page+10">
                      <td>{{email.last_updated| date : 'd MMM yy h:mm:ss a'}}</td>
                      <td>{{email.status}}</td>
                      <td>{{vm.toTitleCase(email.email_type)}}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="basket-tab" role="tabpanel">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-card">
              <div class="card-heading">
                <h2>Basket Content</h2>{{vm.basketQuantity}} Cards
              </div>
              <div class="card-tools">
                <ul class="list-inline" ng-if="!addCreditsMode">
                  <li class="dropdown">
                    <a class="md-btn md-flat md-btn-circle" ng-click="vm.getBasket()" ng-disabled="vm.refresh">
                      <i class="fa fa-refresh i-20" ng-class="{'fa-spin': vm.refresh===true}"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="panel-body text-left">
                <div class="streamline b-l m-l-xs">
                  <div ng-repeat="item in vm.basket.basket_items">
                    <div class="pull-left w-32 m-l-n m-t-xs m-r">
                      <a ui-sref="cards.card({cardId: item.cards[0].card_id})">
                        <img ng-src="{{item.cards[0].image.small}}" class="img-responsive">
                      </a>
                    </div>
                    <div class="clear">
                      <div class="m-b-xs h4">
                        {{item.card_order_items[0].format}} {{item.card_order_items[0].item_options[0].name}}
                        <span ng-if="item.card_order_items[0].quantity>1" class="badge">x {{item.card_order_items[0].quantity}}</span>
                        <span class="text-muted block text-xs">
                          Date: {{item.order_delivery.dispatch_type}} {{item.order_delivery.requested_arrival_date | date : "d/M/yy"}}
                        </span>
                      </div>
                      <div class="row p">
                        <div class="col-xs-6">
                          <div class="col-xs-12 p">
                            <strong>Address</strong>
                            <span class="text-muted"> {{item.recipient_type}}</span>
                          </div>
                          <table style="width:100%">
                            <tr>
                              <td ng-class="vm.missing(item.delivery_address.recipient)">Recipient</td>
                              <td> {{item.delivery_address.recipient}}</td>
                            </tr>
                            <tr>
                              <td ng-class="vm.missing(item.delivery_address.address1)">First Line</td>
                              <td> {{item.delivery_address.address1}}</td>
                            </tr>
                            <tr>
                              <td>Second Line</td>
                              <td> {{item.delivery_address.address2}}</td>
                            </tr>
                            <tr>
                              <td>Third Line</td>
                              <td> {{item.delivery_address.address3}}</td>
                            </tr>
                            <tr>
                              <td ng-class="vm.missing(item.delivery_address.recipient)">City</td>
                              <td> {{item.delivery_address.city}}</td>
                            </tr>
                            <tr ng-if="item.delivery_address.country=='United States'" ng-class="vm.missing(item.delivery_address.state)">
                              <td>State</td>
                              <td> {{item.delivery_address.state}}</td>
                            </tr>
                            <tr>
                              <td ng-class="vm.missing(item.delivery_address.postcode)">Post Code</td>
                              <td> {{item.delivery_address.postcode}}</td>
                            </tr>
                            <tr>
                              <td ng-class="vm.missing(item.delivery_address.country)">Country</td>
                              <td> {{item.delivery_address.country}}</td>
                            </tr>
                          </table>
                        </div>
                        <div class="col-xs-6">
                          <div class="col-xs-12 p">
                            <strong>Message</strong>
                            <span class="text-muted"> {{item.cards[0].inner_back.text_customisation_request.customisation_filter.name}}</span>
                          </div>
                          <pre>{{item.cards[0].inner_back.text_customisation_request.text}}</pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<md-fab-speed-dial class="md-fling md-fab-bottom-right pos-fix" md-direction="up" md-open="false" ng-cloak>
    <md-fab-trigger>
      <a md-ink-ripple class="md-btn md-fab green"><i class="mdi-navigation-menu i-24"></i></a>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button class="md-fab md-raised md-mini">
        <md-tooltip md-direction="left">Update Email</md-tooltip>
        <i class="mdi-communication-email i-16"></i>
      </md-button>
      <md-button class="md-fab md-raised md-mini">
        <md-tooltip md-direction="left">Disable / enable profile</md-tooltip>
        <i class="mdi-av-pause-circle-outline i-16"></i>
      </md-button>
      <md-button class="md-fab md-raised md-mini">
        <md-tooltip md-direction="left">Feature / unfeature</md-tooltip>
        <i class="mdi-action-stars i-16"></i>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>-->