<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-card">
      <div class="card-heading">
        <h3>Top selling creators per month</h3>
        <md-datepicker md-current-view="year" ng-model="vm.period" ng-change="vm.refresh()"></md-datepicker>
      </div>
      <div class="panel-body">
        <span class="pull-left"> 
          <md-button class="md-raised md-primary"ng-click="vm.startCsv()" ng-disabled="vm.start">Download CSV</md-button>
        </span>
        <div class="col-sm-6">
          <div ng-if="vm.requests" class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" ng-style="{'width':(vm.responses*100/vm.requests)+'%'}">{{(vm.responses*100/vm.requests).toFixed()}}%</div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="text-center" ng-if="vm.topSellers.profiles && vm.topSellers.profiles.length == 0">
          No data for this period
        </div>
        <table class="table table-striped" ng-if="vm.topSellers.profiles && vm.topSellers.profiles.length > 0">
          <thead>
            <th>Name</th>
            <th>Total sales</th>
            <th>Sales for period</th>
          </thead>
          <tbody>
            <tr ng-repeat="profile in vm.topSellers.profiles" ui-sref="users.profile({profileId: profile.id})">
              <td>{{profile.public_profile.nickname}}</td>
              <td>{{profile.profile_report.total_cards_sold}}</td>
              <td>{{vm.salesByProfile(profile)}}</td>
          </tbody>
        </table>
        <div>
        <md-button class="md-raised md-primary btn-fw m-b-sm pull-left" ng-if="vm.page > 0" ng-click="vm.load(vm.page - 1)">Prev</md-button>
        <md-button class="md-raised md-primary btn-fw m-b-sm pull-right" ng-if="!vm.topSellers.is_last" ng-click="vm.load(vm.page + 1)">Next</md-button>
      </div>
    </div>
  </div>
</div>