<div class="box bg-white">
  <div class="navbar no-radius">
      <!-- brand -->
      <a class="navbar-brand">
        <img src="images/logo.png" alt="." style="max-height: 36px; display:block">
        <span class="hidden-folded m-l inline">{{app.name}}</span>
      </a>
      <!-- / brand -->
  </div>
  <div class="box-row">
    <div class="box-cell scrollable hover">
      <div class="box-inner">
        <div id="nav" ng-include="'views/partials/aside.nav.uikit.html'"></div>
        <div id="account" class="m-v-xs">
          <nav>
            <ul class="nav">
              <li class="p p-v-sm hidden-folded">
                <div ng-include="'views/partials/aside.setting.html'"></div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul class="nav b-t b">
      <li>
        <a href="http://themeforest.net/item/materil-responsive-admin-dashboard-template/11062969" target="_blank" md-ink-ripple>
          <i class="icon mdi-action-help i-20"></i>
          <span>Help &amp; Feedback</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
