<div class="jumbotron game">
  {{Ctrl.text}}
  <div class="image-group">
    <div class="images" ng-style="{backgroundImage: 'url(/images/number1.jpg)'}" ng-click="open=true;"></div>
    <div class="images" ng-style="{backgroundImage: 'url(/images/number2.jpg)'}" ng-click="open=true;"></div>
    <div class="images" ng-style="{backgroundImage: 'url(/images/number3.jpg)'}" ng-click="open=true;"></div>
    <div class="images" ng-style="{backgroundImage: 'url(/images/number4.jpg)'}" ng-click="open=true;"></div>
  </div>
  <div id="myModal" class="modal"  ng-class="{open:open}" ng-click="open=false">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
    </div>
</div>
